<mat-dialog-content>
    @if (jobHistoryData) {
        <div class="container mx-auto p-4">
            <table class="min-w-full border border-gray-300 bg-white dark:bg-transparent">
                <thead>
                    <tr>
                        <th
                            class="border-b py-3 pl-2 text-left text-xs font-medium uppercase tracking-wider text-gray-500"
                        >
                            Detail ID
                        </th>
                        <th
                            class="border-b py-3 pl-2 text-left text-xs font-medium uppercase tracking-wider text-gray-500"
                        >
                            History ID
                        </th>
                        <th
                            class="border-b py-3 pl-3 text-left text-xs font-medium uppercase tracking-wider text-gray-500"
                        >
                            Date
                        </th>
                        <th
                            class="border-b py-3 pl-6 text-left text-xs font-medium uppercase tracking-wider text-gray-500"
                        >
                            Message
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @for (job of jobHistoryData; track trackByFn($index, job)) {
                        <tr class="border-b bg-white dark:bg-transparent">
                            <td class="whitespace-nowrap py-4 pl-2">{{ job.detailId }}</td>
                            <td class="whitespace-nowrap py-4 pl-2">{{ job.historyId }}</td>
                            <td class="whitespace-nowrap py-4 pl-3">
                                {{ job.createdDate | date: 'MM/dd/yyyy hh:mm a' }}
                            </td>
                            <td class="whitespace-nowrap py-4 pl-6">{{ job.message }}</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        @if (jobHistoryData.length === 0) {
            <div class="justify-center py-[5%]">
                <h1 class="to-black text-center text-2xl font-bold dark:text-white">
                    No Job History Details Available
                </h1>
            </div>
        }
    } @else {
        <ac-loading-overlay [show]="loading"></ac-loading-overlay>
    }
    <ng-template #loading>
        <ac-loading-overlay [show]="loading"></ac-loading-overlay>
    </ng-template>
</mat-dialog-content>
