<!-- Emergency Contact form -->
<div class="relative flex flex-auto flex-col items-center px-6 sm:px-9">
    <div class="w-full max-w-3xl">
        <form [formGroup]="emergencyContactForm">
            <!-- Rank -->
            <div class="mt-4">
                <mat-form-field class="w-full" [subscriptSizing]="'dynamic'">
                    <mat-label>Rank</mat-label>
                    <mat-icon
                        matPrefix
                        class="hidden icon-size-5 sm:flex"
                        [svgIcon]="'heroicons_solid:user-circle'"
                    ></mat-icon>
                    <mat-select
                        [panelClass]="'w-72 min-w-72 max-w-72 h-auto max-h-none'"
                        [formControlName]="'rank'"
                        tabindex="1"
                    >
                        @for (rank of ranks; track rank) {
                            <mat-option [value]="rank">
                                <div class="font-medium">{{ rank }}</div>
                            </mat-option>
                        }
                    </mat-select>
                </mat-form-field>
            </div>

            <!-- Type -->
            <!-- <div class="mt-4">
      <mat-form-field
        class="w-full"
        [subscriptSizing]="'dynamic'">
        <mat-label>Type</mat-label>
        <mat-icon
          matPrefix
          class="hidden sm:flex icon-size-5"
        [svgIcon]="'heroicons_solid:user-circle'"></mat-icon>
        <input
          tabindex="2"
          class="uppercase"
          matInput
          [formControlName]="'type'"
          [placeholder]="'Type'"
          [spellcheck]="false">
        </mat-form-field>
      </div> -->

            <!-- Is Emergency -->
            <div class="mt-4">
                <mat-checkbox class="-ml-2" [color]="'primary'" [formControlName]="'isEmergency'">
                    <span>Is Emergency?</span>
                </mat-checkbox>
            </div>

            <!-- Is Authorized -->
            <div class="mt-0">
                <mat-checkbox class="-ml-2" [color]="'primary'" [formControlName]="'isAuthorized'">
                    <span>Is Authorized?</span>
                </mat-checkbox>
            </div>

            <!-- Relationship -->
            <div class="mt-4">
                <mat-form-field class="w-full" [subscriptSizing]="'dynamic'">
                    <mat-label>Relationship</mat-label>
                    <mat-icon
                        matPrefix
                        class="hidden icon-size-5 sm:flex"
                        [svgIcon]="'heroicons_solid:user-circle'"
                    ></mat-icon>
                    <mat-select
                        [panelClass]="'w-full uppercase'"
                        [value]="'relationship'"
                        formControlName="relationship"
                        tabindex="3"
                    >
                        @for (item of relationShipDorpDownValue; track trackByFnForRelationship) {
                            <mat-option class="uppercase" [value]="item.name.toUpperCase()">
                                <div class="font-medium uppercase">{{ item.name.toUpperCase() }}</div>
                            </mat-option>
                        }
                    </mat-select>
                </mat-form-field>
            </div>

            <!-- First Name -->
            <div class="mt-4">
                <mat-form-field class="w-full" [subscriptSizing]="'dynamic'">
                    <mat-label>First Name</mat-label>
                    <mat-icon
                        matPrefix
                        class="hidden icon-size-5 sm:flex"
                        [svgIcon]="'heroicons_solid:user-circle'"
                    ></mat-icon>
                    <input
                        tabindex="4"
                        class="uppercase"
                        matInput
                        [formControlName]="'firstname'"
                        [placeholder]="'First Name'"
                        [spellcheck]="false"
                    />
                </mat-form-field>
            </div>

            <!-- Last Name -->
            <div class="mt-4">
                <mat-form-field class="w-full" [subscriptSizing]="'dynamic'">
                    <mat-label>Last Name</mat-label>
                    <mat-icon
                        matPrefix
                        class="hidden icon-size-5 sm:flex"
                        [svgIcon]="'heroicons_solid:user-circle'"
                    ></mat-icon>
                    <input
                        tabindex="5"
                        class="uppercase"
                        matInput
                        [formControlName]="'lastname'"
                        [placeholder]="'Last Name'"
                        [spellcheck]="false"
                    />
                </mat-form-field>
            </div>

            <!-- Address -->
            <div class="mt-4">
                <mat-form-field class="w-full" [subscriptSizing]="'dynamic'">
                    <mat-label>Address</mat-label>
                    <mat-icon
                        matPrefix
                        class="hidden icon-size-5 sm:flex"
                        [svgIcon]="'heroicons_solid:location-marker'"
                    ></mat-icon>
                    <input
                        tabindex="6"
                        class="uppercase"
                        matInput
                        [formControlName]="'address'"
                        [placeholder]="'Address'"
                        [spellcheck]="false"
                    />
                </mat-form-field>
            </div>

            <!-- Address2 -->
            <div class="mt-4">
                <mat-form-field class="w-full" [subscriptSizing]="'dynamic'">
                    <mat-label>Address2</mat-label>
                    <mat-icon
                        matPrefix
                        class="hidden icon-size-5 sm:flex"
                        [svgIcon]="'heroicons_solid:location-marker'"
                    ></mat-icon>
                    <input
                        tabindex="7"
                        class="uppercase"
                        matInput
                        [formControlName]="'address2'"
                        [placeholder]="'Address2'"
                        [spellcheck]="false"
                    />
                </mat-form-field>
            </div>

            <!-- City -->
            <div class="mt-4">
                <mat-form-field class="w-full" [subscriptSizing]="'dynamic'">
                    <mat-label>City</mat-label>
                    <mat-icon
                        matPrefix
                        class="hidden icon-size-5 sm:flex"
                        [svgIcon]="'heroicons_solid:location-marker'"
                    ></mat-icon>
                    <input
                        tabindex="9"
                        class="uppercase"
                        matInput
                        [formControlName]="'city'"
                        [placeholder]="'City'"
                        [spellcheck]="false"
                    />
                </mat-form-field>
            </div>

            <!-- State -->
            <div class="mt-4">
                <mat-form-field class="state-select state w-full uppercase" bindLabel="abbreviation">
                    <mat-label>State</mat-label>
                    <mat-icon
                        matPrefix
                        class="hidden icon-size-5 sm:flex"
                        [svgIcon]="'heroicons_solid:location-marker'"
                    ></mat-icon>
                    <input matInput tabindex="9" aria-label="State" [matAutocomplete]="auto" [formControl]="state" />
                    <mat-icon matSuffix class="mr-2 flex-auto text-3xl">arrow_drop_down</mat-icon>
                    <mat-autocomplete #auto="matAutocomplete">
                        @for (state of filteredStates | async; track state) {
                            <mat-option [value]="state.abbreviation">
                                <span class="mr-1 font-bold">
                                    {{ state.abbreviation }}
                                </span>
                                <span>{{ state.name }}</span>
                            </mat-option>
                        }
                    </mat-autocomplete>
                </mat-form-field>
            </div>

            <!-- Zip -->
            <div>
                <mat-form-field class="w-full" [subscriptSizing]="'dynamic'">
                    <mat-label>Zip</mat-label>
                    <mat-icon
                        matPrefix
                        class="hidden icon-size-5 sm:flex"
                        [svgIcon]="'heroicons_solid:location-marker'"
                    ></mat-icon>
                    <input tabindex="8" matInput [formControlName]="'zip'" [placeholder]="'Zip'" numbers />
                </mat-form-field>
            </div>

            <!-- Cell -->
            <div class="mt-4">
                <mat-form-field class="w-full" [subscriptSizing]="'dynamic'">
                    <mat-label>Cell</mat-label>
                    <mat-icon
                        matPrefix
                        (click)="makeCall('Cell')"
                        class="hidden icon-size-5 sm:flex"
                        [svgIcon]="'heroicons_solid:phone'"
                    ></mat-icon>
                    <input
                        tabindex="11"
                        class="uppercase"
                        matInput
                        [formControlName]="'cell'"
                        [value]="emergencyContact?.cell || '' | phone"
                        mask="(000) 000-0000"
                        [showMaskTyped]="true"
                        [placeholder]="'Cell'"
                        [spellcheck]="false"
                    />
                </mat-form-field>
            </div>

            <!-- Phone -->
            <div class="mt-4">
                <mat-form-field class="w-full" [subscriptSizing]="'dynamic'">
                    <mat-label>Phone</mat-label>
                    <mat-icon
                        matPrefix
                        (click)="makeCall('Phone')"
                        class="hidden icon-size-5 sm:flex"
                        [svgIcon]="'heroicons_solid:phone'"
                    ></mat-icon>
                    <input
                        tabindex="12"
                        matInput
                        [formControlName]="'phone'"
                        [value]="emergencyContact?.phone || '' | phone"
                        mask="(000) 000-0000"
                        [showMaskTyped]="true"
                        [placeholder]="'Phone'"
                        numbers
                    />
                </mat-form-field>
            </div>

            <!-- Email -->
            <div class="mt-4">
                <mat-form-field class="w-full" [subscriptSizing]="'dynamic'">
                    <mat-label>Email</mat-label>
                    <mat-icon
                        matPrefix
                        class="hidden icon-size-5 sm:flex"
                        [svgIcon]="'heroicons_solid:mail'"
                    ></mat-icon>
                    <input
                        tabindex="13"
                        class="uppercase"
                        matInput
                        [formControlName]="'email'"
                        [placeholder]="'Email'"
                        [spellcheck]="false"
                    />
                </mat-form-field>
            </div>

            <!-- Is Active -->
            <div class="mt-4">
                <mat-checkbox class="-ml-2" [color]="'primary'" [formControlName]="'isactive'">
                    <span>Is Active?</span>
                </mat-checkbox>
            </div>

            <!-- Alert -->
            @if (alert) {
                <fuse-alert
                    [appearance]="'outline'"
                    [type]="alert.type"
                    [showIcon]="false"
                    [@shake]="true"
                    class="mt-4"
                >
                    {{ alert.message }}
                </fuse-alert>
            }
        </form>
    </div>
</div>
