<div class="flex flex-auto flex-col overflow-hidden">
    <div class="relative overflow-auto bg-white shadow">
        <aux-ag-grid
            [gridOptions]="options"
            [component]="'jobcenter'"
            [rowData]="rowData"
            [columnDefs]="columnDefs"
            [visibleColumns]="visibleColumns"
            [agGridHeight]="'calc(100vh - 292px)'"
            (cellClicked)="onSelectionChanged($event)"
            [loading]="loading$ | async"
        >
        </aux-ag-grid>
    </div>
</div>
