<div class="flex w-full flex-col">
    <!-- Header -->
    <div class="flex w-full items-center bg-white p-3 shadow dark:bg-transparent">
        <div (click)="backToListing()">
            <mat-icon
                matPrefix
                class="icon-size-1 hidden cursor-pointer sm:flex"
                [svgIcon]="'heroicons_solid:arrow-left'"
            ></mat-icon>
        </div>
        @if (PaymentAdjustmentId !== null) {
            <p
                class="status ml-3 flex flex-none items-center rounded bg-primary-100 px-3 py-1.5 text-xs font-medium text-accent-600"
            >
                {{ PaymentAdjustmentId }}
            </p>
        }
        <fuse-horizontal-navigation [navigation]="toolbarData" [name]="'patient-toolbar'"></fuse-horizontal-navigation>
    </div>

    <div class="pay-adjust w-full">
        <!-- Form -->
        <form class="w-full" [formGroup]="PaymentAdjustmentForm">
            <!-- Section 1 Wide -->
            <div class="w-full p-1 pb-0">
                <div class="w-full border bg-white p-3 shadow dark:bg-transparent md:w-full">
                    <div class="mt-2">
                        <!-- First Row -->
                        <div class="flex w-full flex-col md:flex-row md:flex-wrap lg:flex-nowrap">
                            <div class="flex items-center gap-x-2">
                                <mat-form-field class="pr-2">
                                    <mat-label>Post Date</mat-label>
                                    <input
                                        matInput
                                        [matDatepicker]="PostDate"
                                        [placeholder]="dateFormat"
                                        [formControlName]="'postdate'"
                                        (change)="onDateChange($event, 'postdate')"
                                    />
                                    <mat-datepicker-toggle matIconSuffix [for]="PostDate"></mat-datepicker-toggle>
                                    <mat-datepicker #PostDate="matDatepicker"></mat-datepicker>
                                    @if (PaymentAdjustmentForm.get('postdate').hasError('notValidDate')) {
                                        <mat-error>Please enter valid date!! It should be {{ dateFormat }} .</mat-error>
                                    }
                                </mat-form-field>
                            </div>
                            <div class="flex items-center gap-x-2">
                                <mat-form-field class="w-48">
                                    <mat-label>Batch</mat-label>
                                    <input class="uppercase" matInput formControlName="batchno" />
                                </mat-form-field>
                            </div>
                            <div class="ml-4 flex items-center gap-x-2">
                                <mat-form-field class="w-40">
                                    <mat-label>Check #</mat-label>
                                    <input class="uppercase" matInput formControlName="checkno" />
                                </mat-form-field>
                            </div>
                            <div class="ml-4 flex items-center gap-x-2">
                                <mat-form-field class="pr-2">
                                    <mat-label>Check Date</mat-label>
                                    <input
                                        matInput
                                        [matDatepicker]="AuthToDate"
                                        [placeholder]="dateFormat"
                                        [formControlName]="'checkdate'"
                                        (change)="onDateChange($event, 'checkdate')"
                                    />
                                    <mat-datepicker-toggle matIconSuffix [for]="AuthToDate"></mat-datepicker-toggle>
                                    <mat-datepicker #AuthToDate="matDatepicker"></mat-datepicker>
                                    @if (PaymentAdjustmentForm.get('checkdate').hasError('notValidDate')) {
                                        <mat-error>Please enter valid date!! It should be {{ dateFormat }} .</mat-error>
                                    }
                                </mat-form-field>
                            </div>
                            <div class="ml-4 flex items-center gap-x-2">
                                <!-- <mat-form-field class="w-40">
                                    <mat-label>Payment Type</mat-label>
                                    <input class="uppercase" matInput formControlName="paymenttype" />
                                </mat-form-field> -->
                                <mat-form-field class="m-0 w-30">
                                    <mat-label>Payment Type</mat-label>
                                    <mat-select
                                        [formControlName]="'paymenttype'"
                                        [panelClass]="'w-72 min-w-72 max-w-96 h-auto max-h-none'"
                                    >
                                        <mat-select-trigger>{{ selectedPaymentType }}</mat-select-trigger>
                                        @for (PaymentType of paymentTypeDropDown$ | async; track PaymentType) {
                                            <mat-option [value]="PaymentType.code">
                                                <div class="flex gap-6">
                                                    <h2 class="font-extrabold">{{ PaymentType.code }}</h2>
                                                    {{ PaymentType.description }}
                                                </div>
                                            </mat-option>
                                        }
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>

                        <!-- Second Row -->
                        <div class="mt-4 flex w-full flex-col md:flex-row md:flex-wrap lg:flex-nowrap">
                            <div class="flex items-center gap-x-2 pr-2">
                                <label class="w-36 text-right">ICN:</label>
                                <mat-form-field class="m-0 w-48">
                                    <input class="uppercase" matInput formControlName="icn" />
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Section 2 Wide -->
            <div class="w-full p-1">
                <!-- Bill Options Details -->
                <div class="grid grid-cols-1 gap-1 md:grid-cols-2">
                    <!-- LEFT COLUMN -->
                    <div class="bg-white p-4 shadow dark:bg-transparent">
                        <div class="flex flex-col space-y-4">
                            <div class="flex items-center">
                                <div class="w-2/12"></div>
                                <mat-form-field class="w-26">
                                    <mat-label class="mb-1 w-30">Allowed</mat-label>
                                    <input class="uppercase" matInput formControlName="allowed" />
                                </mat-form-field>

                                <mat-form-field class="ml-4 w-2/12">
                                    <mat-label class="mb-1">Deduct</mat-label>
                                    <input class="uppercase" matInput formControlName="deduct" />
                                </mat-form-field>

                                <mat-form-field class="ml-9 w-2/12">
                                    <mat-label class="mb-1">Prov Pd</mat-label>
                                    <input class="uppercase" matInput formControlName="provpd" />
                                </mat-form-field>
                            </div>

                            <div class="flex items-center">
                                <label class="w-1/3 pr-4 text-right">Adjustment 1:</label>
                                <mat-form-field appearance="outline" class="w-2/12">
                                    <input class="uppercase" matInput formControlName="adjustmentcode1" />
                                </mat-form-field>
                                <mat-icon
                                    matPrefix
                                    class="icon-size-1 ml-1 hidden cursor-pointer sm:flex"
                                    [svgIcon]="'heroicons_solid:download'"
                                    (click)="openAdjustmentCodeList('adjustmentcode1')"
                                ></mat-icon>
                                <mat-form-field appearance="outline" class="ml-2 w-2/12">
                                    <input class="uppercase" matInput formControlName="amountadjusted1" />
                                </mat-form-field>
                            </div>
                            <div class="flex items-center">
                                <label class="w-1/3 pr-4 text-right">Adjustment 2:</label>
                                <mat-form-field appearance="outline" class="w-2/12">
                                    <input class="uppercase" matInput formControlName="adjustmentcode2" />
                                </mat-form-field>
                                <mat-icon
                                    matPrefix
                                    class="icon-size-1 ml-1 hidden cursor-pointer sm:flex"
                                    [svgIcon]="'heroicons_solid:download'"
                                    (click)="openAdjustmentCodeList('adjustmentcode2')"
                                ></mat-icon>
                                <mat-form-field appearance="outline" class="ml-2 w-2/12">
                                    <input class="uppercase" matInput formControlName="amountadjusted2" />
                                </mat-form-field>
                            </div>
                            <div class="flex items-center">
                                <label class="w-1/3 pr-4 text-right">Adjustment 3:</label>
                                <mat-form-field appearance="outline" class="w-2/12">
                                    <input class="uppercase" matInput formControlName="adjustmentcode3" />
                                </mat-form-field>
                                <mat-icon
                                    matPrefix
                                    class="icon-size-1 ml-1 hidden cursor-pointer sm:flex"
                                    [svgIcon]="'heroicons_solid:download'"
                                    (click)="openAdjustmentCodeList('adjustmentcode3')"
                                ></mat-icon>
                                <mat-form-field appearance="outline" class="ml-2 w-2/12">
                                    <input class="uppercase" matInput formControlName="amountadjusted3" />
                                </mat-form-field>
                            </div>
                            <div class="flex items-center">
                                <label class="w-1/3 pr-4 text-right">Adjustment 4:</label>
                                <mat-form-field appearance="outline" class="w-2/12">
                                    <input class="uppercase" matInput formControlName="adjustmentcode4" />
                                </mat-form-field>
                                <mat-icon
                                    matPrefix
                                    class="icon-size-1 ml-1 hidden cursor-pointer sm:flex"
                                    [svgIcon]="'heroicons_solid:download'"
                                    (click)="openAdjustmentCodeList('adjustmentcode4')"
                                ></mat-icon>
                                <mat-form-field appearance="outline" class="ml-2 w-2/12">
                                    <input class="uppercase" matInput formControlName="amountadjusted4" />
                                </mat-form-field>
                            </div>
                            <div class="flex items-center">
                                <label class="w-1/3 pr-4 text-right">Adjustment 5:</label>
                                <mat-form-field appearance="outline" class="w-2/12">
                                    <input class="uppercase" matInput formControlName="adjustmentcode5" />
                                </mat-form-field>
                                <mat-icon
                                    matPrefix
                                    class="icon-size-1 ml-1 hidden cursor-pointer sm:flex"
                                    [svgIcon]="'heroicons_solid:download'"
                                    (click)="openAdjustmentCodeList('adjustmentcode5')"
                                ></mat-icon>
                                <mat-form-field appearance="outline" class="ml-2 w-2/12">
                                    <input class="uppercase" matInput formControlName="amountadjusted5" />
                                </mat-form-field>
                            </div>
                            <div class="flex items-center">
                                <label class="w-1/3 pr-4 text-right">Adjustment 6:</label>
                                <mat-form-field appearance="outline" class="w-2/12">
                                    <input class="uppercase" matInput formControlName="adjustmentcode6" />
                                </mat-form-field>
                                <mat-icon
                                    matPrefix
                                    class="icon-size-1 ml-1 hidden cursor-pointer sm:flex"
                                    [svgIcon]="'heroicons_solid:download'"
                                    (click)="openAdjustmentCodeList('adjustmentcode6')"
                                ></mat-icon>
                                <mat-form-field appearance="outline" class="ml-2 w-2/12">
                                    <input class="uppercase" matInput formControlName="amountadjusted6" />
                                </mat-form-field>
                            </div>
                            <div class="flex items-center">
                                <label class="w-1/3 pr-4 text-right">Balance:</label>
                                <mat-form-field appearance="outline" class="m-0 w-2/12">
                                    <input class="uppercase" matInput formControlName="balance" />
                                </mat-form-field>
                            </div>

                            <!-- <div class="pb-2 pt-2"></div> -->
                        </div>
                    </div>

                    <!-- RIGHT COLUMN -->
                    <div class="bg-white p-4 shadow dark:bg-transparent">
                        <div class="flex flex-col space-y-4">
                            <!-- Amount fields -->
                            <div class="flex items-center">
                                <label class="w-1/3 pr-4 text-right">Submitted:</label>
                                <mat-form-field appearance="outline" class="w-2/12">
                                    <input class="uppercase" matInput formControlName="submitted" />
                                </mat-form-field>
                            </div>
                            <div class="flex items-center">
                                <label class="w-1/3 pr-4 text-right">Tran Amount:</label>
                                <mat-form-field appearance="outline" class="w-2/12">
                                    <input class="uppercase" matInput formControlName="tranamount" />
                                </mat-form-field>
                            </div>
                            <div class="flex items-center">
                                <label class="w-1/3 pr-4 text-right">Service Date:</label>
                                <mat-form-field appearance="outline" class="m-0 w-30">
                                    <input
                                        matInput
                                        [matDatepicker]="serviceDate"
                                        [placeholder]="dateFormat"
                                        (change)="onDateChange($event, 'svcdate')"
                                        [formControlName]="'svcdate'"
                                    />
                                    <mat-datepicker-toggle matIconSuffix [for]="serviceDate"></mat-datepicker-toggle>
                                    <mat-datepicker #serviceDate="matDatepicker"></mat-datepicker>
                                </mat-form-field>
                            </div>

                            <div class="flex items-center">
                                <label class="w-1/3 pr-4 text-right">Procedure:</label>
                                <mat-form-field appearance="outline" class="w-2/12">
                                    <input class="uppercase" matInput formControlName="hcpcscode" />
                                </mat-form-field>
                            </div>
                            <div class="flex items-center">
                                <label class="w-1/3 pr-4 text-right">Item code:</label>
                                <div class="flex items-center">
                                    <mat-form-field class="m-0">
                                        <input
                                            class="uppercase"
                                            [readonly]="false"
                                            matInput
                                            [formControlName]="'itemcode'"
                                        />
                                    </mat-form-field>
                                    <mat-icon
                                        matPrefix
                                        class="icon-size-1 ml-1 hidden cursor-pointer sm:flex"
                                        [svgIcon]="'heroicons_solid:download'"
                                        (click)="openItemList()"
                                    ></mat-icon>
                                </div>
                            </div>
                            <div class="flex items-center">
                                <label class="w-1/3 pr-4 text-right">Print Status:</label>
                                <mat-form-field class="m-0 w-30">
                                    <mat-select
                                        [formControlName]="'printstatus'"
                                        [panelClass]="'w-72 min-w-72 max-w-96 h-auto max-h-none'"
                                    >
                                        <mat-select-trigger>{{ selectedPrintStatus }}</mat-select-trigger>
                                        @for (PrintStatus of PrintStatusDropDown$ | async; track PrintStatus) {
                                            <mat-option [value]="PrintStatus.code">
                                                <div class="flex gap-6">
                                                    <h2 class="font-extrabold">{{ PrintStatus.code }}</h2>
                                                    {{ PrintStatus.description }}
                                                </div>
                                            </mat-option>
                                        }
                                    </mat-select>
                                </mat-form-field>
                                <label class="ml-2 w-24 pr-4 text-right">Tran Type:</label>
                                <mat-form-field class="m-0 w-30">
                                    <mat-select
                                        [formControlName]="'trantype'"
                                        [panelClass]="'w-72 min-w-72 max-w-96 h-auto max-h-none'"
                                    >
                                        <mat-select-trigger>{{ selectedTranType }}</mat-select-trigger>
                                        @for (status of tranType$ | async; track status) {
                                            <mat-option [value]="status.code">
                                                <div class="flex gap-6">
                                                    <h2 class="font-extrabold">{{ status.code }}</h2>
                                                    {{ status.description }}
                                                </div>
                                            </mat-option>
                                        }
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="flex items-center">
                                <mat-label class="w-1/3 pr-4 text-right">Bill Type:</mat-label>
                                <mat-form-field class="m-0 w-30">
                                    <mat-select
                                        [formControlName]="'billtype'"
                                        [panelClass]="'w-72 min-w-72 max-w-96 h-auto max-h-none'"
                                    >
                                        <mat-select-trigger>{{ selectedBillType }}</mat-select-trigger>
                                        @for (status of billType$ | async; track status) {
                                            <mat-option [value]="status.billType">
                                                <div class="flex gap-6">
                                                    <h2 class="font-extrabold">{{ status.billType }}</h2>
                                                    {{ status.description }}
                                                </div>
                                            </mat-option>
                                        }
                                    </mat-select>
                                </mat-form-field>
                                <label class="ml-2 w-24 pr-4 text-right">Edited By:</label>
                                <mat-form-field appearance="outline" class="w-30">
                                    <input class="uppercase" matInput formControlName="adduserid" />
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Section 3 Wide -->
            <div class="flex w-full p-1 pt-0">
                <div class="w-full border bg-white p-2 shadow dark:bg-transparent md:w-full">
                    <div class="mt-2 flex flex-col space-y-4">
                        <!-- <div class="flex w-full items-center">
                            <div class="flex items-center gap-x-2">
                                <mat-checkbox [color]="'primary'" class="mr-2"> To patient </mat-checkbox>
                                <mat-form-field appearance="outline" class="w-2/6">
                                    <input class="uppercase" matInput />
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="flex w-full items-center">
                            <div class="flex items-center gap-x-2">
                                <mat-checkbox [color]="'primary'" class="mr-2"> To other </mat-checkbox>
                                <mat-form-field appearance="outline" class="w-2/6">
                                    <input class="uppercase" matInput />
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="flex w-full items-center">
                            <div class="flex items-center gap-x-2">
                                <mat-checkbox [color]="'primary'" class="mr-2"> Retain Same Payor </mat-checkbox>
                            </div>
                        </div>
                    </div> -->

                        <div class="flex w-full items-center">
                            <div class="flex flex-col items-center space-y-4 sm:flex-row sm:items-center sm:space-y-0">
                                <mat-checkbox
                                    [color]="'primary'"
                                    class="mr-1 items-center"
                                    [formControlName]="'toPatientChecked'"
                                    (change)="onCheckboxChange('toPatientChecked')"
                                >
                                    To patient</mat-checkbox
                                >
                                <mat-form-field appearance="outline" class="w-1/6">
                                    <input class="uppercase" [formControlName]="'toPatient'" matInput readonly />
                                </mat-form-field>
                                <mat-icon
                                    matPrefix
                                    (click)="openPayorList('toPatient')"
                                    class="icon-size-1 mr-4 hidden cursor-pointer sm:flex"
                                    [svgIcon]="'heroicons_solid:download'"
                                ></mat-icon>

                                <mat-checkbox
                                    [color]="'primary'"
                                    class="mr-1 items-center"
                                    [formControlName]="'toOtherChecked'"
                                    (change)="onCheckboxChange('toOtherChecked')"
                                >
                                    To other</mat-checkbox
                                >
                                <mat-form-field appearance="outline" class="w-1/6">
                                    <input class="uppercase" [formControlName]="'toOther'" matInput />
                                </mat-form-field>
                                <mat-icon
                                    matPrefix
                                    (click)="openPayorList('toOther')"
                                    class="icon-size-1 mr-4 hidden cursor-pointer sm:flex"
                                    [svgIcon]="'heroicons_solid:download'"
                                ></mat-icon>
                                <mat-checkbox
                                    [color]="'primary'"
                                    class="mr-2 items-center"
                                    [formControlName]="'retainSamePayorChecked'"
                                    (change)="onCheckboxChange('retainSamePayorChecked')"
                                >
                                    Retain Same Payor</mat-checkbox
                                >
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
