<!-- Contact form -->
<div class="relative flex flex-auto flex-col items-center px-6 sm:px-9">
    <div class="w-full max-w-3xl">
        <form [formGroup]="contactForm">
            <!-- Icd9 Code -->
            <div class="mt-4">
                <mat-form-field class="w-full" [subscriptSizing]="'dynamic'">
                    <mat-label>Icd9 Code</mat-label>
                    <mat-icon
                        matPrefix
                        class="hidden icon-size-5 sm:flex"
                        [svgIcon]="'heroicons_solid:user-circle'"
                    ></mat-icon>
                    <input
                        class="uppercase"
                        matInput
                        [formControlName]="'icd9code'"
                        [placeholder]="'Icd9 Code'"
                        [spellcheck]="false"
                    />
                </mat-form-field>
            </div>

            <!-- Status -->
            <div class="mt-4">
                <mat-form-field class="w-full" [subscriptSizing]="'dynamic'">
                    <mat-label>Status</mat-label>
                    <mat-icon
                        matPrefix
                        class="hidden icon-size-5 sm:flex"
                        [svgIcon]="'heroicons_solid:user-circle'"
                    ></mat-icon>
                    <input
                        class="uppercase"
                        matInput
                        [formControlName]="'status'"
                        [placeholder]="'Status'"
                        [spellcheck]="false"
                    />
                </mat-form-field>
            </div>

            <!-- Description -->
            <div class="mt-4">
                <mat-form-field class="w-full" [subscriptSizing]="'dynamic'">
                    <mat-label>Description</mat-label>
                    <mat-icon
                        matPrefix
                        class="hidden icon-size-5 sm:flex"
                        [svgIcon]="'heroicons_solid:user-circle'"
                    ></mat-icon>
                    <input
                        class="uppercase"
                        matInput
                        [formControlName]="'description'"
                        [placeholder]="'Description'"
                        [spellcheck]="false"
                    />
                </mat-form-field>
            </div>

            <!-- Change Indicator -->
            <div class="mt-4">
                <mat-form-field class="w-full" [subscriptSizing]="'dynamic'">
                    <mat-label>Change Indicator</mat-label>
                    <mat-icon
                        matPrefix
                        class="hidden icon-size-5 sm:flex"
                        [svgIcon]="'heroicons_solid:user-circle'"
                    ></mat-icon>
                    <input
                        class="uppercase"
                        matInput
                        [formControlName]="'changeindicator'"
                        [placeholder]="'Change Indicator'"
                        [spellcheck]="false"
                    />
                </mat-form-field>
            </div>

            <!-- Code Status -->
            <div class="mt-4">
                <mat-form-field class="w-full" [subscriptSizing]="'dynamic'">
                    <mat-label>Code Status</mat-label>
                    <mat-icon
                        matPrefix
                        class="hidden icon-size-5 sm:flex"
                        [svgIcon]="'heroicons_solid:user-circle'"
                    ></mat-icon>
                    <input
                        class="uppercase"
                        matInput
                        [formControlName]="'codestatus'"
                        [placeholder]="'Code Status'"
                        [spellcheck]="false"
                    />
                </mat-form-field>
            </div>

            <!-- Short Description -->
            <div class="mt-4">
                <mat-form-field class="w-full" [subscriptSizing]="'dynamic'">
                    <mat-label>Short Description</mat-label>
                    <mat-icon
                        matPrefix
                        class="hidden icon-size-5 sm:flex"
                        [svgIcon]="'heroicons_solid:user-circle'"
                    ></mat-icon>
                    <input
                        class="uppercase"
                        matInput
                        [formControlName]="'shortdescription'"
                        [placeholder]="'Short Description'"
                        [spellcheck]="false"
                    />
                </mat-form-field>
            </div>

            <!-- Medium Description -->
            <div class="mt-4">
                <mat-form-field class="w-full" [subscriptSizing]="'dynamic'">
                    <mat-label>Medium Description</mat-label>
                    <mat-icon
                        matPrefix
                        class="hidden icon-size-5 sm:flex"
                        [svgIcon]="'heroicons_solid:user-circle'"
                    ></mat-icon>
                    <input
                        class="uppercase"
                        matInput
                        [formControlName]="'mediumdescription'"
                        [placeholder]="'Medium Description'"
                        [spellcheck]="false"
                    />
                </mat-form-field>
            </div>

            <!-- Long Description -->
            <div class="mt-4">
                <mat-form-field class="w-full" [subscriptSizing]="'dynamic'">
                    <mat-label>Long Description</mat-label>
                    <mat-icon
                        matPrefix
                        class="hidden icon-size-5 sm:flex"
                        [svgIcon]="'heroicons_solid:user-circle'"
                    ></mat-icon>
                    <input
                        class="uppercase"
                        matInput
                        [formControlName]="'longdescription'"
                        [placeholder]="'Long Description'"
                        [spellcheck]="false"
                    />
                </mat-form-field>
            </div>

            <!-- Icd10 Code -->
            <div class="mt-4">
                <mat-form-field class="w-full" [subscriptSizing]="'dynamic'">
                    <mat-label>Icd10 Code</mat-label>
                    <mat-icon
                        matPrefix
                        class="hidden icon-size-5 sm:flex"
                        [svgIcon]="'heroicons_solid:user-circle'"
                    ></mat-icon>
                    <input
                        class="uppercase"
                        matInput
                        [formControlName]="'icd10code'"
                        [placeholder]="'Icd10 Code'"
                        [spellcheck]="false"
                    />
                </mat-form-field>
            </div>

            <!-- Icd10 Description -->
            <div class="mt-4">
                <mat-form-field class="w-full" [subscriptSizing]="'dynamic'">
                    <mat-label>Icd10 Description</mat-label>
                    <mat-icon
                        matPrefix
                        class="hidden icon-size-5 sm:flex"
                        [svgIcon]="'heroicons_solid:mail'"
                    ></mat-icon>
                    <input
                        class="uppercase"
                        matInput
                        [formControlName]="'icd10description'"
                        [placeholder]="'Icd10 Description'"
                        [spellcheck]="false"
                    />
                </mat-form-field>
            </div>

            <!-- Flags -->
            <div class="mt-4">
                <mat-form-field class="w-full" [subscriptSizing]="'dynamic'">
                    <mat-label>Flags</mat-label>
                    <mat-icon
                        matPrefix
                        class="hidden icon-size-5 sm:flex"
                        [svgIcon]="'heroicons_solid:mail'"
                    ></mat-icon>
                    <input
                        class="uppercase"
                        matInput
                        [formControlName]="'flags'"
                        [placeholder]="'Flags'"
                        [spellcheck]="false"
                    />
                </mat-form-field>
            </div>

            <!-- InAtive Date -->

            <div class="mt-4">
                <mat-form-field
                    class="w-full"
                    [ngClass]="{ 'mb-12': contactForm.get('inactivedate').hasError('notValidDate') }"
                >
                    <mat-label>Inactive Date </mat-label>
                    <input
                        matInput
                        [formControlName]="'inactivedate'"
                        [matDatepicker]="datepicker1"
                        (change)="onDateChange($event, 'inactivedate')"
                        [placeholder]="dateFormat"
                        defaultDate
                    />
                    <mat-datepicker-toggle matIconSuffix [for]="datepicker1"></mat-datepicker-toggle>
                    <mat-datepicker #datepicker1="matDatepicker"></mat-datepicker>
                    @if (contactForm.get('inactivedate').hasError('notValidDate')) {
                        <mat-error>Please enter valid date!! It should be {{ dateFormat }}.</mat-error>
                    }
                </mat-form-field>
            </div>

            <!-- Alert -->
            @if (alert) {
                <fuse-alert
                    [appearance]="'outline'"
                    [type]="alert.type"
                    [showIcon]="false"
                    [@shake]="true"
                    class="mt-4"
                >
                    {{ alert.message }}
                </fuse-alert>
            }
        </form>
    </div>
</div>
