@if (selectedFile$ | async; as file) {
    <div class="flex flex-auto flex-col p-2">
        @if (!isEditable) {
            <div class="flex justify-end">
                <button
                    class="mb-2 mr-2 mt-2"
                    type="submit"
                    mat-flat-button
                    [color]="'primary'"
                    (click)="makeFormEditable()"
                    [matTooltip]="'Edit'"
                >
                    <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:pencil-alt'"></mat-icon>
                    <span class="ml-2">Edit</span>
                </button>
            </div>
        }
        @if (!isEditable) {
            <!-- Preview -->
            <div class="aspect-[9/6]">
                <div class="text-lg font-medium">Preview</div>
                <div class="flex h-full items-center justify-center rounded-lg border bg-gray-50 dark:bg-card">
                    @if (file.fileBlob) {
                        <pdf-viewer
                            [src]="file.fileBlob"
                            (click)="previewFile()"
                            [render-text]="true"
                            style="display: block; height: inherit; width: -webkit-fill-available"
                            [original-size]="true"
                            [fit-to-page]="true"
                            [show-all]="false"
                            [page]="1"
                            class="cursor-pointer shadow"
                        ></pdf-viewer>
                    }
                </div>
            </div>
            <!-- Name & Type -->
            <div class="mt-8 flex flex-col items-start">
                <div class="mt-1 rounded bg-red-600 px-1.5 text-sm font-semibold leading-5 text-white">PDF</div>
            </div>
            <!-- General -->
            <div class="mt-8 text-lg font-medium">General</div>
            <div class="mt-4 flex flex-col divide-y border-b border-t font-medium">
                <div class="flex items-center justify-between py-3">
                    <div class="text-secondary">File Name</div>
                    <div>
                        {{ file.displayName }}
                    </div>
                </div>
                <div class="flex items-center justify-between py-3">
                    <div class="text-secondary">Description</div>
                    <div>{{ file.description }}</div>
                </div>
                <div class="flex items-center justify-between py-3">
                    <div class="text-secondary">Security Level</div>
                    <div>
                        <span
                            class="flex justify-center rounded-full px-3 py-1 text-center font-normal uppercase"
                            [matMenuTriggerFor]="securityLevelSelect"
                            [matMenuTriggerData]="{ file: file }"
                            [ngClass]="badgeBg(file.securityLevel)"
                            >{{ file.securityLevel }}</span
                        >
                    </div>
                </div>
                <div class="flex items-center justify-between py-3">
                    <div class="text-secondary">Notification</div>
                    <ng-container>
                        @if ((notification$ | async)?.when) {
                            <div>{{ (notification$ | async)?.when | date: 'shortDate' }}</div>
                        }
                    </ng-container>
                </div>
                <div class="flex items-center py-3">
                    <div class="text-secondary">File Tags</div>
                    @for (tag of tags$ | async; track tag) {
                        <span class="file-tag ml-2 mt-1 bg-gray-600 px-1.5 text-sm font-semibold leading-5 text-white">
                            {{ tag.tag }}
                        </span>
                    }
                </div>
            </div>
            <!-- Special Dates -->
            <div class="mt-8 text-lg font-medium">Dates</div>
            <div class="mt-4 flex flex-col divide-y border-b border-t font-medium">
                <div class="flex items-center justify-between py-3">
                    <div class="text-secondary">Start Date</div>
                    <div>{{ file.startDate ? (file.startDate | datetimeformat) : '' }}</div>
                </div>
                <div class="flex items-center justify-between py-3">
                    <div class="text-secondary">Expiration Date</div>
                    <div>{{ file.expirationDate ? (file.expirationDate | datetimeformat) : '' }}</div>
                </div>
                <div class="flex items-center justify-between py-3">
                    <div class="text-secondary">Created By</div>
                    <div>{{ file.createdBy }}</div>
                </div>
                <div class="flex items-center justify-between py-3">
                    <div class="text-secondary">Created Date</div>
                    <div>{{ file.createdDate | datetimeformat }}</div>
                </div>
                <div class="flex items-center justify-between py-3">
                    <div class="text-secondary">Modified By</div>
                    <div>{{ file.modifiedBy }}</div>
                </div>
            </div>
        }
        @if (isEditable) {
            <div class="mt-4">
                <!-- Edit Basic Info and Special Dates -->
                <ac-update-element
                    [updatedFileData]="{ element: file, type: 'file' }"
                    (closeModal)="fileSaved()"
                ></ac-update-element>
                <!-- General -->
                <div class="mt-8 text-lg font-medium">General</div>
                <div class="flex flex-col divide-y font-medium">
                    <div class="flex items-center justify-between py-3">
                        <div class="text-secondary">Notification</div>
                        <button mat-icon-button class="font-normal" (click)="editNotification()">
                            <ic-icon [icIcon]="icAdd" size="24px" [inline]="true"></ic-icon>
                        </button>
                    </div>
                    <div class="flex items-center justify-between py-3">
                        <div class="text-secondary">Security Level</div>
                        <span
                            class="flex cursor-pointer justify-center rounded-full px-3 py-1 text-center font-normal uppercase"
                            [matMenuTriggerFor]="securityLevelSelect"
                            [matMenuTriggerData]="{ file: file }"
                            [ngClass]="badgeBg(file.securityLevel)"
                            >{{ file.securityLevel }}</span
                        >
                    </div>
                    <div class="mb-0 flex items-center justify-between p-0">
                        <mat-form-field class="chip-list custom-filed" appearance="fill">
                            <mat-chip-grid #chipList aria-label="Selection">
                                @for (tag of tags$ | async; track tag) {
                                    <mat-chip-row [selectable]="false" [removable]="true" (removed)="remove(tag)">
                                        {{ tag.tag }}
                                        <ic-icon matChipRemove [icIcon]="icCancel"></ic-icon>
                                    </mat-chip-row>
                                }
                                <input
                                    matinput
                                    placeholder="Add tag..."
                                    [matChipInputFor]="chipList"
                                    [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                                    [matChipInputAddOnBlur]="addOnBlur"
                                    (matChipInputTokenEnd)="add($event)"
                                />
                            </mat-chip-grid>
                        </mat-form-field>
                    </div>
                </div>
            </div>
            <mat-menu #securityLevelSelect>
                <ng-template matMenuContent let-file="file">
                    <div class="sec-dropdown w-full">
                        @for (level of securityLevels; track level) {
                            <button mat-menu-item [ngClass]="badgeBg(level)" (click)="setLevel(file, level)">
                                {{ level }}
                            </button>
                        }
                    </div>
                </ng-template>
            </mat-menu>
        }
    </div>
}
