<div class="flex flex-auto flex-col overflow-hidden">
    <!-- Toolbar -->
    <div class="flex w-full bg-white p-1 dark:bg-transparent">
        <fuse-horizontal-navigation [navigation]="toolbarData" [name]="'patient-toolbar'"> </fuse-horizontal-navigation>
    </div>
    <div class="relative overflow-auto bg-white dark:bg-transparent">
        <div class="relative overflow-auto bg-white dark:bg-transparent">
            <aux-ag-grid
                [gridOptions]="options"
                [rowData]="rowData"
                [columnDefs]="columnDefs"
                [agGridHeight]="'calc(100vh - 471px)'"
                [visibleColumns]="visibleColumns"
                [loading]="loading$ | async"
            >
            </aux-ag-grid>
            <ac-loading-overlay [show]="loading$ | async"></ac-loading-overlay>
        </div>
        <div class="lg:flex">
            <!-- Work Order Total -->
            <div class="ml-2 mr-2 w-full border-t-2 bg-white pl-2 pr-2 pt-2 dark:bg-transparent lg:w-1/2">
                <div class="flex w-full items-baseline">
                    <!-- <div class="whitespace-nowrap pr-2">Work Order Total</div> -->
                    <mat-form-field class="w-6/12 pr-2">
                        <mat-label>Submitted</mat-label>
                        <span matPrefix class="text-black">$&nbsp;</span>
                        <input class="uppercase" matInput [(ngModel)]="arHistoryTotalObj.submitted" readonly />
                    </mat-form-field>
                    <mat-form-field class="w-6/12 pr-2">
                        <mat-label>Billed</mat-label>
                        <span matPrefix class="text-black">$&nbsp;</span>
                        <input class="uppercase" matInput [(ngModel)]="arHistoryTotalObj.tranamount" readonly />
                    </mat-form-field>
                    <mat-form-field class="w-6/12 pr-2">
                        <mat-label>Paid</mat-label>
                        <span matPrefix class="text-black">$&nbsp;</span>
                        <input class="uppercase" matInput [(ngModel)]="arHistoryTotalObj.amountpaid" readonly />
                    </mat-form-field>
                </div>
            </div>
            <!-- INVOICE TOTALS -->
            <div class="ml-2 mr-2 w-full border-t-2 bg-white pl-2 pr-2 pt-2 dark:bg-transparent lg:w-1/2">
                <div class="flex w-full items-baseline">
                    <!-- <div class="whitespace-nowrap pr-2">Invoice Total</div> -->
                    <mat-form-field class="w-6/12 pr-2">
                        <mat-label>Adj</mat-label>
                        <span matPrefix class="text-black">$&nbsp;</span>
                        <input class="uppercase" matInput [(ngModel)]="arHistoryTotalObj.adjustments" readonly />
                    </mat-form-field>
                    <mat-form-field class="w-6/12 pr-2">
                        <mat-label>Balance</mat-label>
                        <span matPrefix class="text-black">$&nbsp;</span>
                        <input class="uppercase" matInput [(ngModel)]="arHistoryTotalObj.balance" readonly />
                    </mat-form-field>
                </div>
            </div>
        </div>
    </div>
</div>
