<div class="flex h-full w-full flex-col">
    <!-- Header -->
    <div
        class="bg-card flex flex-0 flex-col border-b p-6 dark:bg-transparent sm:flex-row sm:items-center sm:justify-between sm:px-10 sm:py-6"
    >
        <!-- Title -->
        <div class="min-w-0 flex-1">
            <div>
                <h2 class="truncate text-3xl font-extrabold leading-7 tracking-tight sm:leading-10 md:text-4xl">
                    AnalyticsCenter
                </h2>
            </div>
        </div>

        <!-- Search -->
        <div class="min-w-0">
            <div class="mt-2">
                <div class="flex flex-none items-center bg-white px-4 dark:bg-transparent">
                    <div class="bg-base flex w-full flex-1 items-center rounded-full border px-5 py-4">
                        <mat-icon class="mr-2 icon-size-5" [svgIcon]="'mat_outline:search'"></mat-icon>

                        <input
                            [formControl]="searchCtrl"
                            class="placeholder-black w-full bg-transparent outline-none"
                            placeholder="Search Results..."
                            type="text"
                        />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <ac-analytics-table></ac-analytics-table>
</div>
