<div class="flex flex-auto flex-col overflow-hidden">
    <div class="flex w-full bg-white p-1 dark:bg-transparent" *ngIf="toolbarData.length > 0">
        <fuse-horizontal-navigation [navigation]="toolbarData" [name]="'work-order-toolbar'">
        </fuse-horizontal-navigation>
    </div>
    <div class="relative overflow-auto bg-white shadow">
        <aux-ag-grid
            [gridOptions]="options"
            [component]="'remits835Component'"
            [rowData]="rowData"
            [columnDefs]="columnDefs"
            [visibleColumns]="visibleColumns"
            [agGridHeight]="'calc(100vh - 360px)'"
            [loading]="loading$ | async"
            (cellClicked)="selectionChange($event)"
        >
        </aux-ag-grid>
    </div>
</div>
