/* ----------------------------------------------------------------------------------------------------- */
/*  @ Import/write your custom styles here.
/*  @ Styles from this file will override 'vendors.scss' and Fuse's base styles.
/* ----------------------------------------------------------------------------------------------------- */

/* Custom sliding right pane container */
@use '@ng-select/ng-select/themes/material.theme.css';
@use './ng-select.scss';

.custom-container {
    .mat-mdc-dialog-container .mdc-dialog__surface {
        border-radius: 0px !important;
        padding: 12px;
    }
}

mat-drawer.mat-drawer-side {
    box-shadow: inset -1px 0 0 var(--fuse-border);
}

.mat-mdc-form-field.mat-mdc-form-field.mat-mdc-form-field.mat-mdc-form-field.mat-mdc-form-field.mat-mdc-form-field
    .mdc-notched-outline__notch {
    border-left: 0px solid rgba(0, 0, 0, 0) !important;
}

::ng-deep .mdc-notched-outline__notch {
    border-right: none !important;
    // border-left: none !important;
}

/* Mat-table hover background color */
.mat-mdc-table .mdc-data-table__row:not(.mdc-data-table__row--selected):hover {
    background: var(--fuse-primary-50) !important;
}

/* Styles for mat menu content like actions menu and filter menu */
.mat-mdc-menu-panel .mat-mdc-menu-content {
    padding: 8px 8px;
    max-height: 600px;
}

// /* Styles for the checkboxes in mat-table filter control  */
// .mat-pseudo-checkbox-checked {
//     background: #FF4081 !important;
// }
// .mat-pseudo-checkbox {
//     color: #FF4081 !important;
// }

/* Style for required field asterisk */
.mdc-floating-label--required::after {
    color: red;
}

// Styles for highlighted row in a mat-table
.highlight {
    background-color: var(--fuse-primary-50) !important;
    //background-color: #f6d891 !important;
}

/* Style for mat-table header titles */
.theme-default .light .mdc-data-table__header-cell,
.theme-default.light .mdc-data-table__header-cell,
.theme-amber .light .mdc-data-table__header-cell,
.theme-amber.light .mdc-data-table__header-cell,
.theme-brand .light .mdc-data-table__header-cell,
.theme-brand.light .mdc-data-table__header-cell,
.theme-teal .light .mdc-data-table__header-cell,
.theme-teal.light .mdc-data-table__header-cell,
.theme-rose .light .mdc-data-table__header-cell,
.theme-rose.light .mdc-data-table__header-cell,
.theme-purple .light .mdc-data-table__header-cell,
.theme-purple.light .mdc-data-table__header-cell,
.theme-acentusGreen .light .mdc-data-table__header-cell,
.theme-acentusGreen.light .mdc-data-table__header-cell,
.theme-amber .light .mdc-data-table__header-cell,
.theme-amber.light .mdc-data-table__header-cell {
    background: var(--fuse-primary-500);
    font-size: 12px;
    font-weight: 500;
    color: #fff;
}

/* Style for mat-table sort arrow  */
.theme-default .light .mat-sort-header-arrow,
.theme-default.light .mat-sort-header-arrow,
.theme-amber .light .mat-sort-header-arrow,
.theme-amber.light .mat-sort-header-arrow,
.theme-brand .light .mat-sort-header-arrow,
.theme-brand.light .mat-sort-header-arrow,
.theme-teal .light .mat-sort-header-arrow,
.theme-teal.light .mat-sort-header-arrow,
.theme-rose .light .mat-sort-header-arrow,
.theme-rose.light .mat-sort-header-arrow,
.theme-purple .light .mat-sort-header-arrow,
.theme-purple.light .mat-sort-header-arrow,
.theme-acentusGreen .light .mat-sort-header-arrow,
.theme-acentusGreen.light .mat-sort-header-arrow,
.theme-amber .light .mat-sort-header-arrow,
.theme-amber.light .mat-sort-header-arrow {
    color: #fff;
}

.state-select {
    &.ng-select {
        .ng-select-container {
            overflow: unset;

            &.ng-appearance-outline {
                .ng-clear-wrapper {
                    display: none;
                }

                .ng-arrow-wrapper {
                    bottom: 22px;
                }

                &:hover {
                    &::after {
                        border: solid 1px rgba(0, 0, 0, 0.12);
                    }
                }

                &::after {
                    height: 100%;
                }
            }

            .ng-value-container {
                .ng-input {
                    bottom: 50%;
                    transform: translateY(50%);
                    padding: 0 10px;
                }
            }
        }

        &.ng-select-focused {
            .ng-select-container {
                .ng-value-container {
                    .ng-placeholder {
                        transform: translateY(-25px) scale(0.75) perspective(100px) translateZ(0.001px);
                    }
                }
            }
        }

        &.ng-select-opened .ng-placeholder,
        .ng-has-value .ng-placeholder {
            transform: translateY(-25px) scale(0.75) perspective(100px) translateZ(0.001px);
        }
    }
}

.custom-datepicker-toggle {
    .mat-mdc-text-field-wrapper {
        .mat-mdc-form-field-flex {
            padding-left: 1% !important;
        }
    }

    .input-container {
        display: flex;
        align-items: center;
    }
}

/* Global style for mat-form-field height  */
.mat-mdc-form-field.mat-form-field-appearance-fill
    .mat-mdc-text-field-wrapper
    .mat-mdc-form-field-flex
    .mat-mdc-form-field-infix {
    min-height: 36px;
}

/* .mat-mdc-dialog-container .mdc-dialog__surface {
    border-radius: 5px !important;
    padding: 0;
} */

/* Style for AG-GRID  */
.ag-theme-balham .ag-header {
    background-color: #f2f2f2;
}

.ag-theme-balham {
    .ag-root-wrapper {
        --ag-header-column-resize-handle-display: block;
        border: 0;

        .ag-header {
            .ag-header-viewport {
                .ag-header-container {
                    .ag-header-row-column-filter {
                        .ag-floating-filter {
                            .ag-floating-filter-button {
                                margin-left: 3px;
                            }
                        }
                    }
                }

                .ag-header-cell {
                    &::after {
                        content: none;
                    }

                    .ag-header-cell-comp-wrapper {
                        .ag-cell-label-container {
                            .ag-header-icon {
                                cursor: pointer;
                            }

                            .ag-header-cell-label {
                                .ag-header-cell-text {
                                    color: #000;
                                    text-transform: uppercase;
                                    font-size: 9px;
                                    font-weight: 700;
                                }

                                .ag-sort-indicator-container {
                                    .ag-sort-order {
                                        display: none;
                                    }

                                    .ag-sort-indicator-icon {
                                        .ag-icon {
                                            &::before {
                                                color: #000;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }

                    .ag-input-wrapper {
                        .ag-input-field-input {
                            border-radius: 0px;
                            padding: 3px;
                            text-transform: uppercase;
                        }
                    }

                    .ag-floating-filter-body {
                        .ag-floating-filter-input {
                            .ag-filter-filter {
                                .ag-text-field-input-wrapper {
                                    .ag-input-field-input {
                                        cursor: pointer;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        .ag-row {
            background: #fff;

            .ag-cell {
                display: flex;
                align-items: center;
                font-size: 12px;

                .ag-cell-wrapper {
                    width: 100%; // or min-width: 100%;
                }
            }
            &.selected-payor-row {
                background-color: #ffdb8c !important;
            }

            &.grid-row-odd {
                background-color: #fff;
            }

            &.grid-row-even {
                background-color: #f7f7f7;
            }

            &.ag-row-focus {
                background-color: #ffdb8c;
            }

            &.ag-row-selected.ag-row-focus {
                background-color: #ffdb8c;
            }

            &::before {
                background-color: #ffdb8c !important;
            }
        }

        .ag-row.ag-row-hover {
            cursor: pointer;

            &::before {
                background: #ffdb8c;
            }
        }

        .ag-paging-panel {
            justify-content: start;
            height: 73px;
            border: 0;
            padding-left: 20px;

            .ag-paging-page-summary-panel,
            .ag-paging-row-summary-panel {
                font-weight: 500;
                color: #000;
            }
        }
    }

    .ag-popup-child {
        .ag-menu-list {
            cursor: pointer;
        }

        .ag-menu-body {
            .ag-filter {
                .ag-filter-body-wrapper {
                    .ag-filter-body {
                        .ag-filter-from {
                            .ag-filter-filter {
                                .ag-date-filter {
                                    .ag-text-field-input-wrapper {
                                        .ag-input-field-input {
                                            cursor: pointer;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .ag-tabs {
        .ag-tabs-body {
            .ag-filter {
                .ag-multi-filter {
                    .ag-filter-body-wrapper {
                        .ag-picker-field {
                            .ag-picker-field-wrapper {
                                cursor: pointer;
                            }
                        }

                        .ag-set-filter {
                            .ag-set-filter-list {
                                .ag-filter-virtual-list-container {
                                    .ag-virtual-list-item {
                                        .ag-set-filter-item {
                                            .ag-label-align-right {
                                                cursor: pointer;

                                                .ag-input-wrapper {
                                                    .ag-checkbox-input {
                                                        cursor: pointer;
                                                    }

                                                    cursor: pointer;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }

                .ag-filter-body-wrapper {
                    .ag-picker-field {
                        .ag-wrapper {
                            cursor: pointer;
                        }
                    }

                    .ag-filter-condition {
                        .ag-labeled {
                            cursor: pointer;

                            .ag-radio-button-input-wrapper {
                                .ag-radio-button-input {
                                    cursor: pointer;
                                }
                            }
                        }
                    }
                }
            }

            .ag-menu-column-select-wrapper {
                .ag-column-select {
                    .ag-column-select-header {
                        .ag-column-select-header-checkbox {
                            .ag-input-wrapper {
                                .ag-input-field-input {
                                    cursor: pointer;
                                }
                            }
                        }
                    }

                    .ag-column-select-list {
                        .ag-virtual-list-viewport {
                            .ag-virtual-list-container {
                                .ag-virtual-list-item {
                                    .ag-column-select-column {
                                        .ag-column-select-column-label {
                                            cursor: pointer;
                                        }

                                        .ag-input-wrapper {
                                            .ag-checkbox-input {
                                                cursor: pointer;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .ag-menu-list {
                cursor: pointer;
            }
        }
    }
}

body .ag-theme-balham-dark {
    --ag-background-color: var(--ag-inherited-background-color, #0f172a);
    --ag-foreground-color: var(--ag-inherited-foreground-color, #fff);
    --ag-text-color: var(--ag-inherited-text-color, var(--ag-foreground-color));
    --ag-accent-color: var(--ag-inherited-accent-color, #2196f3);
    --ag-invalid-color: var(--ag-inherited-invalid-color, #e02525);
    --ag-border-color: var(
        --ag-inherited-border-color,
        color-mix(in srgb, transparent, var(--ag-foreground-color) 15%)
    );
    --ag-wrapper-border: var(--ag-inherited-wrapper-border, solid 1px var(--ag-border-color));
    --ag-row-border: var(--ag-inherited-row-border, solid 1px var(--ag-border-color));
    --ag-color-scheme: var(--ag-inherited-color-scheme, dark);
    --ag-header-row-border: var(--ag-inherited-header-row-border, var(--ag-row-border));
    --ag-footer-row-border: var(--ag-inherited-footer-row-border, var(--ag-row-border));
    --ag-column-border: var(--ag-inherited-column-border, solid 1px transparent);
    --ag-header-column-border: var(--ag-inherited-header-column-border, none);
    --ag-header-column-border-height: var(--ag-inherited-header-column-border-height, 100%);
    --ag-pinned-column-border: var(--ag-inherited-pinned-column-border, solid 1px var(--ag-border-color));
    --ag-pinned-row-border: var(--ag-inherited-pinned-row-border, solid 1px var(--ag-border-color));
    --ag-side-panel-border: var(--ag-inherited-side-panel-border, solid 1px var(--ag-border-color));
    --ag-font-family: var(
        --ag-inherited-font-family,
        -apple-system,
        BlinkMacSystemFont,
        'Segoe UI',
        Roboto,
        Oxygen-Sans,
        Ubuntu,
        Cantarell,
        'Helvetica Neue',
        sans-serif
    );
    --ag-chrome-background-color: var(--ag-inherited-chrome-background-color, #0f172a);
    --ag-header-background-color: var(--ag-inherited-header-background-color, #1d2634);
    --ag-header-font-family: var(
        --ag-inherited-header-font-family,
        -apple-system,
        BlinkMacSystemFont,
        'Segoe UI',
        Roboto,
        Oxygen-Sans,
        Ubuntu,
        Cantarell,
        'Helvetica Neue',
        sans-serif
    );
    --ag-header-font-weight: var(--ag-inherited-header-font-weight, 700);
    --ag-header-font-size: var(--ag-inherited-header-font-size, 9px);
    --ag-header-text-color: var(--ag-inherited-header-text-color, var(--ag-text-color));
    --ag-header-cell-hover-background-color: var(--ag-inherited-header-cell-hover-background-color, transparent);
    --ag-header-cell-hover-background-transition-duration: var(
        --ag-inherited-header-cell-hover-background-transition-duration,
        0.2s
    );
    --ag-cell-text-color: var(--ag-inherited-cell-text-color, var(--ag-text-color));
    --ag-subtle-text-color: var(
        --ag-inherited-subtle-text-color,
        color-mix(in srgb, transparent, var(--ag-text-color) 50%)
    );
    --ag-range-selection-border-style: var(--ag-inherited-range-selection-border-style, solid);
    --ag-range-selection-border-color: var(--ag-inherited-range-selection-border-color, var(--ag-accent-color));
    --ag-range-selection-background-color: var(
        --ag-inherited-range-selection-background-color,
        color-mix(in srgb, transparent, var(--ag-accent-color) 20%)
    );
    --ag-range-selection-chart-background-color: var(--ag-inherited-range-selection-chart-background-color, #0058ff1a);
    --ag-range-selection-chart-category-background-color: var(
        --ag-inherited-range-selection-chart-category-background-color,
        #00ff841a
    );
    --ag-range-selection-highlight-color: var(
        --ag-inherited-range-selection-highlight-color,
        color-mix(in srgb, transparent, var(--ag-accent-color) 50%)
    );
    --ag-row-hover-color: var(
        --ag-inherited-row-hover-color,
        color-mix(in srgb, transparent, var(--ag-accent-color) 12%)
    );
    --ag-column-hover-color: var(
        --ag-inherited-column-hover-color,
        color-mix(in srgb, transparent, var(--ag-accent-color) 5%)
    );
    --ag-selected-row-background-color: var(
        --ag-inherited-selected-row-background-color,
        color-mix(in srgb, transparent, var(--ag-accent-color) 8%)
    );
    --ag-modal-overlay-background-color: var(
        --ag-inherited-modal-overlay-background-color,
        color-mix(in srgb, transparent, var(--ag-background-color) 66%)
    );
    --ag-odd-row-background-color: var(--ag-inherited-odd-row-background-color, var(--ag-background-color));
    --ag-border-radius: var(--ag-inherited-border-radius, 0px);
    --ag-wrapper-border-radius: var(--ag-inherited-wrapper-border-radius, 0px);
    --ag-cell-horizontal-padding: var(
        --ag-inherited-cell-horizontal-padding,
        calc(var(--ag-grid-size) * 2 * var(--ag-cell-horizontal-padding-scale))
    );
    --ag-cell-widget-spacing: var(--ag-inherited-cell-widget-spacing, calc(var(--ag-grid-size) * 1.5));
    --ag-cell-horizontal-padding-scale: var(--ag-inherited-cell-horizontal-padding-scale, 1);
    --ag-row-group-indent-size: var(
        --ag-inherited-row-group-indent-size,
        calc(var(--ag-cell-widget-spacing) + var(--ag-icon-size))
    );
    --ag-value-change-delta-up-color: var(--ag-inherited-value-change-delta-up-color, #43a047);
    --ag-value-change-delta-down-color: var(--ag-inherited-value-change-delta-down-color, #e53935);
    --ag-value-change-value-highlight-background-color: var(
        --ag-inherited-value-change-value-highlight-background-color,
        #16a08580
    );
    --ag-grid-size: var(--ag-inherited-grid-size, 8px);
    --ag-font-size: var(--ag-inherited-font-size, 12px);
    --ag-row-height: var(
        --ag-inherited-row-height,
        calc(
            max(var(--ag-icon-size), var(--ag-font-size)) + var(--ag-grid-size) * 3.5 *
                var(--ag-row-vertical-padding-scale)
        )
    );
    --ag-row-vertical-padding-scale: var(--ag-inherited-row-vertical-padding-scale, 1);
    --ag-header-height: var(
        --ag-inherited-header-height,
        calc(
            max(var(--ag-icon-size), var(--ag-font-size)) + var(--ag-grid-size) * 4.25 *
                var(--ag-header-vertical-padding-scale)
        )
    );
    --ag-header-vertical-padding-scale: var(--ag-inherited-header-vertical-padding-scale, 1);
    --ag-popup-shadow: var(--ag-inherited-popup-shadow, 0 0 16px 0 #00000026);
    --ag-dropdown-shadow: var(--ag-inherited-dropdown-shadow, 0 1px 4px 1px #babfc766);
    --ag-drag-ghost-background-color: var(--ag-inherited-drag-ghost-background-color, var(--ag-background-color));
    --ag-drag-ghost-border: var(--ag-inherited-drag-ghost-border, solid 1px var(--ag-border-color));
    --ag-drag-ghost-shadow: var(--ag-inherited-drag-ghost-shadow, var(--ag-popup-shadow));
    --ag-focus-shadow: var(
        --ag-inherited-focus-shadow,
        0 0 0 3px color-mix(in srgb, transparent, var(--ag-accent-color) 50%)
    );
    --ag-side-bar-panel-width: var(--ag-inherited-side-bar-panel-width, 250px);
    --ag-side-button-selected-border: var(--ag-inherited-side-button-selected-border, solid 1px var(--ag-border-color));
    --ag-side-button-selected-background-color: var(
        --ag-inherited-side-button-selected-background-color,
        var(--ag-background-color)
    );
    --ag-side-bar-background-color: var(--ag-inherited-side-bar-background-color, var(--ag-chrome-background-color));
    --ag-header-column-resize-handle-display: var(--ag-inherited-header-column-resize-handle-display, block);
    --ag-header-column-resize-handle-height: var(--ag-inherited-header-column-resize-handle-height, 30%);
    --ag-header-column-resize-handle-width: var(--ag-inherited-header-column-resize-handle-width, 2px);
    --ag-header-column-resize-handle-color: var(
        --ag-inherited-header-column-resize-handle-color,
        var(--ag-border-color)
    );
    --ag-widget-container-horizontal-padding: var(
        --ag-inherited-widget-container-horizontal-padding,
        calc(var(--ag-grid-size) * 1.5)
    );
    --ag-widget-container-vertical-padding: var(
        --ag-inherited-widget-container-vertical-padding,
        calc(var(--ag-grid-size) * 1.5)
    );
    --ag-widget-horizontal-spacing: var(--ag-inherited-widget-horizontal-spacing, calc(var(--ag-grid-size) * 1.5));
    --ag-widget-vertical-spacing: var(--ag-inherited-widget-vertical-spacing, var(--ag-grid-size));
    --ag-list-item-height: var(
        --ag-inherited-list-item-height,
        calc(var(--ag-icon-size) + var(--ag-widget-vertical-spacing))
    );
    --ag-icon-size: var(--ag-inherited-icon-size, 16px);
    --ag-toggle-button-width: var(--ag-inherited-toggle-button-width, 28px);
    --ag-toggle-button-height: var(--ag-inherited-toggle-button-height, 18px);
    --ag-toggle-button-border-width: var(--ag-inherited-toggle-button-border-width, 2px);
    --ag-toggle-button-on-border-color: var(--ag-inherited-toggle-button-on-border-color, var(--ag-accent-color));
    --ag-toggle-button-on-background-color: var(
        --ag-inherited-toggle-button-on-background-color,
        var(--ag-accent-color)
    );
    --ag-toggle-button-off-border-color: var(
        --ag-inherited-toggle-button-off-border-color,
        color-mix(in srgb, var(--ag-background-color), var(--ag-foreground-color) 30%)
    );
    --ag-toggle-button-off-background-color: var(
        --ag-inherited-toggle-button-off-background-color,
        color-mix(in srgb, var(--ag-background-color), var(--ag-foreground-color) 30%)
    );
    --ag-toggle-button-switch-border-color: var(
        --ag-inherited-toggle-button-switch-border-color,
        var(--ag-toggle-button-off-border-color)
    );
    --ag-toggle-button-switch-background-color: var(
        --ag-inherited-toggle-button-switch-background-color,
        var(--ag-background-color)
    );
    --ag-checkbox-border-width: var(--ag-inherited-checkbox-border-width, 1px);
    --ag-checkbox-border-radius: var(--ag-inherited-checkbox-border-radius, var(--ag-border-radius));
    --ag-checkbox-unchecked-background-color: var(
        --ag-inherited-checkbox-unchecked-background-color,
        var(--ag-background-color)
    );
    --ag-checkbox-unchecked-border-color: var(
        --ag-inherited-checkbox-unchecked-border-color,
        color-mix(in srgb, var(--ag-background-color), var(--ag-foreground-color) 30%)
    );
    --ag-checkbox-checked-background-color: var(
        --ag-inherited-checkbox-checked-background-color,
        var(--ag-accent-color)
    );
    --ag-checkbox-checked-border-color: var(--ag-inherited-checkbox-checked-border-color, var(--ag-accent-color));
    --ag-checkbox-checked-shape-image: var(
        --ag-inherited-checkbox-checked-shape-image,
        url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2210%22%20height%3D%227%22%20fill%3D%22none%22%3E%3Cpath%20stroke%3D%22%23000%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%20stroke-width%3D%221.75%22%20d%3D%22M1%203.5%203.5%206l5-5%22%2F%3E%3C%2Fsvg%3E')
    );
    --ag-checkbox-checked-shape-color: var(--ag-inherited-checkbox-checked-shape-color, var(--ag-background-color));
    --ag-checkbox-indeterminate-background-color: var(
        --ag-inherited-checkbox-indeterminate-background-color,
        color-mix(in srgb, var(--ag-background-color), var(--ag-foreground-color) 30%)
    );
    --ag-checkbox-indeterminate-border-color: var(
        --ag-inherited-checkbox-indeterminate-border-color,
        color-mix(in srgb, var(--ag-background-color), var(--ag-foreground-color) 30%)
    );
    --ag-checkbox-indeterminate-shape-image: var(
        --ag-inherited-checkbox-indeterminate-shape-image,
        url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2210%22%20height%3D%222%22%20fill%3D%22none%22%3E%3Crect%20width%3D%2210%22%20height%3D%222%22%20fill%3D%22%23000%22%20rx%3D%221%22%2F%3E%3C%2Fsvg%3E')
    );
    --ag-checkbox-indeterminate-shape-color: var(
        --ag-inherited-checkbox-indeterminate-shape-color,
        var(--ag-background-color)
    );
    --ag-radio-checked-shape-image: var(
        --ag-inherited-radio-checked-shape-image,
        url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%226%22%20height%3D%226%22%20fill%3D%22none%22%3E%3Ccircle%20cx%3D%223%22%20cy%3D%223%22%20r%3D%223%22%20fill%3D%22%23000%22%2F%3E%3C%2Fsvg%3E')
    );
    --ag-menu-border: var(
        --ag-inherited-menu-border,
        solid 1px color-mix(in srgb, transparent, var(--ag-foreground-color) 20%)
    );
    --ag-menu-background-color: var(
        --ag-inherited-menu-background-color,
        color-mix(in srgb, var(--ag-background-color), var(--ag-foreground-color) 3%)
    );
    --ag-menu-text-color: var(
        --ag-inherited-menu-text-color,
        color-mix(in srgb, var(--ag-background-color), var(--ag-foreground-color) 95%)
    );
    --ag-menu-shadow: var(--ag-inherited-menu-shadow, var(--ag-popup-shadow));
    --ag-menu-separator-color: var(--ag-inherited-menu-separator-color, var(--ag-border-color));
    --ag-set-filter-indent-size: var(--ag-inherited-set-filter-indent-size, var(--ag-icon-size));
    --ag-chart-menu-panel-width: var(--ag-inherited-chart-menu-panel-width, 260px);
    --ag-chart-menu-label-color: var(
        --ag-inherited-chart-menu-label-color,
        color-mix(in srgb, transparent, var(--ag-foreground-color) 80%)
    );
    --ag-icon-button-hover-color: var(
        --ag-inherited-icon-button-hover-color,
        color-mix(in srgb, transparent, var(--ag-foreground-color) 10%)
    );
    --ag-dialog-shadow: var(--ag-inherited-dialog-shadow, var(--ag-popup-shadow));
    --ag-dialog-border: var(
        --ag-inherited-dialog-border,
        solid 1px color-mix(in srgb, transparent, var(--ag-foreground-color) 20%)
    );
    --ag-panel-background-color: var(--ag-inherited-panel-background-color, var(--ag-background-color));
    --ag-panel-title-bar-background-color: var(
        --ag-inherited-panel-title-bar-background-color,
        var(--ag-header-background-color)
    );
    --ag-panel-title-bar-border: var(--ag-inherited-panel-title-bar-border, solid 1px var(--ag-border-color));
    --ag-column-select-indent-size: var(--ag-inherited-column-select-indent-size, var(--ag-icon-size));
    --ag-tool-panel-separator-border: var(--ag-inherited-tool-panel-separator-border, solid 1px var(--ag-border-color));
    --ag-tooltip-background-color: var(--ag-inherited-tooltip-background-color, var(--ag-chrome-background-color));
    --ag-tooltip-text-color: var(--ag-inherited-tooltip-text-color, var(--ag-text-color));
    --ag-tooltip-border: var(--ag-inherited-tooltip-border, solid 1px var(--ag-border-color));
    --ag-column-drop-cell-background-color: var(
        --ag-inherited-column-drop-cell-background-color,
        color-mix(in srgb, transparent, var(--ag-foreground-color) 7%)
    );
    --ag-column-drop-cell-border: var(
        --ag-inherited-column-drop-cell-border,
        solid 1px color-mix(in srgb, transparent, var(--ag-foreground-color) 13%)
    );
    --ag-select-cell-background-color: var(
        --ag-inherited-select-cell-background-color,
        color-mix(in srgb, transparent, var(--ag-foreground-color) 7%)
    );
    --ag-select-cell-border: var(
        --ag-inherited-select-cell-border,
        solid 1px color-mix(in srgb, transparent, var(--ag-foreground-color) 13%)
    );
    --ag-advanced-filter-builder-button-bar-border: var(
        --ag-inherited-advanced-filter-builder-button-bar-border,
        solid 1px var(--ag-border-color)
    );
    --ag-advanced-filter-builder-indent-size: var(
        --ag-inherited-advanced-filter-builder-indent-size,
        calc(var(--ag-grid-size) * 2 + var(--ag-icon-size))
    );
    --ag-advanced-filter-builder-join-pill-color: var(--ag-inherited-advanced-filter-builder-join-pill-color, #f08e8d);
    --ag-advanced-filter-builder-column-pill-color: var(
        --ag-inherited-advanced-filter-builder-column-pill-color,
        #a6e194
    );
    --ag-advanced-filter-builder-option-pill-color: var(
        --ag-inherited-advanced-filter-builder-option-pill-color,
        #f3c08b
    );
    --ag-advanced-filter-builder-value-pill-color: var(
        --ag-inherited-advanced-filter-builder-value-pill-color,
        #85c0e4
    );
    --ag-filter-tool-panel-group-indent: var(--ag-inherited-filter-tool-panel-group-indent, var(--ag-grid-size));
    --ag-icon-button-hover-background-color: var(
        --ag-inherited-icon-button-hover-background-color,
        color-mix(in srgb, transparent, var(--ag-foreground-color) 10%)
    );
    --ag-row-loading-skeleton-effect-color: var(
        --ag-inherited-row-loading-skeleton-effect-color,
        rgba(66, 66, 66, 0.2)
    );
    --ag-tab-bar-background-color: var(
        --ag-inherited-tab-bar-background-color,
        color-mix(in srgb, transparent, var(--ag-foreground-color) 5%)
    );
    --ag-tab-bar-horizontal-padding: var(--ag-inherited-tab-bar-horizontal-padding, 0);
    --ag-tab-bar-top-padding: var(--ag-inherited-tab-bar-top-padding, 0);
    --ag-tab-background-color: var(--ag-inherited-tab-background-color, transparent);
    --ag-tab-text-color: var(--ag-inherited-tab-text-color, color-mix(in srgb, transparent, var(--ag-text-color) 70%));
    --ag-tab-horizontal-padding: var(--ag-inherited-tab-horizontal-padding, calc(var(--ag-grid-size)));
    --ag-tab-top-padding: var(--ag-inherited-tab-top-padding, calc(var(--ag-grid-size)));
    --ag-tab-bottom-padding: var(--ag-inherited-tab-bottom-padding, calc(var(--ag-grid-size)));
    --ag-tab-spacing: var(--ag-inherited-tab-spacing, 0);
    --ag-tab-hover-background-color: var(--ag-inherited-tab-hover-background-color, var(--ag-tab-background-color));
    --ag-tab-hover-text-color: var(--ag-inherited-tab-hover-text-color, var(--ag-text-color));
    --ag-tab-selected-background-color: var(--ag-inherited-tab-selected-background-color, var(--ag-background-color));
    --ag-tab-selected-text-color: var(--ag-inherited-tab-selected-text-color, var(--ag-text-color));
    --ag-tab-selected-border-width: var(--ag-inherited-tab-selected-border-width, 1px);
    --ag-tab-selected-border-color: var(--ag-inherited-tab-selected-border-color, var(--ag-border-color));
    --ag-tab-selected-underline-color: var(--ag-inherited-tab-selected-underline-color, transparent);
    --ag-tab-selected-underline-width: var(--ag-inherited-tab-selected-underline-width, 0);
    --ag-tab-selected-underline-transition-duration: var(--ag-inherited-tab-selected-underline-transition-duration, 0);
    --ag-tab-bar-border: var(--ag-inherited-tab-bar-border, solid 1px var(--ag-border-color));
    --ag-input-background-color: var(--ag-inherited-input-background-color, var(--ag-background-color));
    --ag-input-border: var(--ag-inherited-input-border, solid 1px var(--ag-border-color));
    --ag-input-border-radius: var(--ag-inherited-input-border-radius, var(--ag-border-radius));
    --ag-input-text-color: var(--ag-inherited-input-text-color, var(--ag-text-color));
    --ag-input-focus-background-color: var(
        --ag-inherited-input-focus-background-color,
        var(--ag-input-background-color)
    );
    --ag-input-focus-border: var(--ag-inherited-input-focus-border, solid 1px var(--ag-accent-color));
    --ag-input-focus-shadow: var(--ag-inherited-input-focus-shadow, var(--ag-focus-shadow));
    --ag-input-focus-text-color: var(--ag-inherited-input-focus-text-color, var(--ag-input-text-color));
    --ag-input-disabled-background-color: var(
        --ag-inherited-input-disabled-background-color,
        color-mix(in srgb, var(--ag-background-color), var(--ag-foreground-color) 6%)
    );
    --ag-input-disabled-border: var(--ag-inherited-input-disabled-border, var(--ag-input-border));
    --ag-input-disabled-text-color: var(
        --ag-inherited-input-disabled-text-color,
        color-mix(in srgb, transparent, var(--ag-text-color) 50%)
    );
    --ag-input-invalid-background-color: var(
        --ag-inherited-input-invalid-background-color,
        var(--ag-input-background-color)
    );
    --ag-input-invalid-border: var(--ag-inherited-input-invalid-border, solid 1px var(--ag-invalid-color));
    --ag-input-invalid-text-color: var(--ag-inherited-input-invalid-text-color, var(--ag-input-text-color));
}

body .ag-theme-balham-dark .ag-header-cell {
    text-transform: uppercase;
    font-size: 9px;
    font-weight: 700;
}

body .ag-theme-balham-dark .ag-header-cell .ag-sort-order {
    display: none;
}

body .ag-theme-balham-dark .ag-header-cell .ag-input-wrapper {
    .ag-input-field-input {
        border-radius: 0px;
        height: auto;
        padding: 3px;
        text-transform: uppercase;
    }
}

app-patient-payors-table .ag-theme-balham-dark .material-icons {
    margin-top: 7px;
}

app-patient-physicians-table .ag-theme-balham-dark .material-icons {
    margin-top: 7px;
}
