<!-- Contact form -->
<div class="relative flex flex-auto flex-col items-center px-6 sm:px-9">
    <div class="w-full max-w-3xl">
        <form [formGroup]="contactForm">
            <!-- Key Label -->
            <div class="mt-4">
                <mat-form-field class="w-full" [subscriptSizing]="'dynamic'">
                    <mat-label>Key Label</mat-label>
                    <mat-icon
                        matPrefix
                        class="hidden icon-size-5 sm:flex"
                        [svgIcon]="'heroicons_solid:user-circle'"
                    ></mat-icon>
                    <input
                        class="uppercase"
                        matInput
                        [formControlName]="'keylabel'"
                        [placeholder]="'keylabel'"
                        [spellcheck]="false"
                    />
                </mat-form-field>
            </div>

            <!-- Command -->
            <div class="mt-4">
                <mat-form-field class="w-full" [subscriptSizing]="'dynamic'">
                    <mat-label>Command</mat-label>
                    <mat-icon
                        matPrefix
                        class="hidden icon-size-5 sm:flex"
                        [svgIcon]="'heroicons_solid:user-circle'"
                    ></mat-icon>
                    <input
                        class="uppercase"
                        matInput
                        [formControlName]="'command'"
                        [placeholder]="'Command'"
                        [spellcheck]="false"
                    />
                </mat-form-field>
            </div>

            <!-- Item Id 1 -->
            <div class="mt-4">
                <mat-form-field class="w-full" [subscriptSizing]="'dynamic'">
                    <mat-label>Item Id 1</mat-label>
                    <mat-icon
                        matPrefix
                        class="hidden icon-size-5 sm:flex"
                        [svgIcon]="'heroicons_solid:user-circle'"
                    ></mat-icon>
                    <input
                        class="uppercase"
                        matInput
                        [formControlName]="'itemid1'"
                        [placeholder]="'Item Id 1'"
                        numbers
                    />
                </mat-form-field>
            </div>

            <!-- Item Id 2 -->
            <div class="mt-4">
                <mat-form-field class="w-full" [subscriptSizing]="'dynamic'">
                    <mat-label>Item Id 2</mat-label>
                    <mat-icon
                        matPrefix
                        class="hidden icon-size-5 sm:flex"
                        [svgIcon]="'heroicons_solid:user-circle'"
                    ></mat-icon>
                    <input
                        class="uppercase"
                        matInput
                        [formControlName]="'itemid2'"
                        [placeholder]="'Item Id 2'"
                        numbers
                    />
                </mat-form-field>
            </div>

            <!-- Item Id 3 -->
            <div class="mt-4">
                <mat-form-field class="w-full" [subscriptSizing]="'dynamic'">
                    <mat-label>Item Id 3</mat-label>
                    <mat-icon
                        matPrefix
                        class="hidden icon-size-5 sm:flex"
                        [svgIcon]="'heroicons_solid:user-circle'"
                    ></mat-icon>
                    <input
                        class="uppercase"
                        matInput
                        [formControlName]="'itemid3'"
                        [placeholder]="'Item Id 3'"
                        numbers
                    />
                </mat-form-field>
            </div>

            <!-- Item Id 4 -->
            <div class="mt-4">
                <mat-form-field class="w-full" [subscriptSizing]="'dynamic'">
                    <mat-label>Item Id 4</mat-label>
                    <mat-icon
                        matPrefix
                        class="hidden icon-size-5 sm:flex"
                        [svgIcon]="'heroicons_solid:user-circle'"
                    ></mat-icon>
                    <input
                        class="uppercase"
                        matInput
                        [formControlName]="'itemid4'"
                        [placeholder]="'Item Id 4'"
                        numbers
                    />
                </mat-form-field>
            </div>

            <!-- Item Id 5 -->
            <div class="mt-4">
                <mat-form-field class="w-full" [subscriptSizing]="'dynamic'">
                    <mat-label>Item Id 5</mat-label>
                    <mat-icon
                        matPrefix
                        class="hidden icon-size-5 sm:flex"
                        [svgIcon]="'heroicons_solid:user-circle'"
                    ></mat-icon>
                    <input
                        class="uppercase"
                        matInput
                        [formControlName]="'itemid5'"
                        [placeholder]="'Item Id 5'"
                        numbers
                    />
                </mat-form-field>
            </div>

            <!-- Item Id 6 -->
            <div class="mt-4">
                <mat-form-field class="w-full" [subscriptSizing]="'dynamic'">
                    <mat-label>Item Id 6</mat-label>
                    <mat-icon
                        matPrefix
                        class="hidden icon-size-5 sm:flex"
                        [svgIcon]="'heroicons_solid:user-circle'"
                    ></mat-icon>
                    <input
                        class="uppercase"
                        matInput
                        [formControlName]="'itemid6'"
                        [placeholder]="'Item Id 6'"
                        numbers
                    />
                </mat-form-field>
            </div>

            <!-- Item Id 7 -->
            <div class="mt-4">
                <mat-form-field class="w-full" [subscriptSizing]="'dynamic'">
                    <mat-label>Item Id 7</mat-label>
                    <mat-icon
                        matPrefix
                        class="hidden icon-size-5 sm:flex"
                        [svgIcon]="'heroicons_solid:user-circle'"
                    ></mat-icon>
                    <input
                        class="uppercase"
                        matInput
                        [formControlName]="'itemid7'"
                        [placeholder]="'Item Id 7'"
                        numbers
                    />
                </mat-form-field>
            </div>

            <!-- Bill Type 1 -->
            <div class="mt-4">
                <mat-form-field class="w-full" [subscriptSizing]="'dynamic'">
                    <mat-label>Bill Type 1</mat-label>
                    <mat-icon
                        matPrefix
                        class="hidden icon-size-5 sm:flex"
                        [svgIcon]="'heroicons_solid:mail'"
                    ></mat-icon>
                    <input
                        class="uppercase"
                        matInput
                        [formControlName]="'billtype1'"
                        [placeholder]="'Bill Type 1'"
                        [spellcheck]="false"
                    />
                </mat-form-field>
            </div>

            <!-- Bill Type 2 -->
            <div class="mt-4">
                <mat-form-field class="w-full" [subscriptSizing]="'dynamic'">
                    <mat-label>Bill Type 2</mat-label>
                    <mat-icon
                        matPrefix
                        class="hidden icon-size-5 sm:flex"
                        [svgIcon]="'heroicons_solid:mail'"
                    ></mat-icon>
                    <input
                        class="uppercase"
                        matInput
                        [formControlName]="'billtype2'"
                        [placeholder]="'Bill Type 2'"
                        [spellcheck]="false"
                    />
                </mat-form-field>
            </div>

            <!-- Bill Type 3 -->
            <div class="mt-4">
                <mat-form-field class="w-full" [subscriptSizing]="'dynamic'">
                    <mat-label>Bill Type 3</mat-label>
                    <mat-icon
                        matPrefix
                        class="hidden icon-size-5 sm:flex"
                        [svgIcon]="'heroicons_solid:mail'"
                    ></mat-icon>
                    <input
                        class="uppercase"
                        matInput
                        [formControlName]="'billtype3'"
                        [placeholder]="'Bill Type 3'"
                        [spellcheck]="false"
                    />
                </mat-form-field>
            </div>

            <!-- Bill Type 4 -->
            <div class="mt-4">
                <mat-form-field class="w-full" [subscriptSizing]="'dynamic'">
                    <mat-label>Bill Type 4</mat-label>
                    <mat-icon
                        matPrefix
                        class="hidden icon-size-5 sm:flex"
                        [svgIcon]="'heroicons_solid:mail'"
                    ></mat-icon>
                    <input
                        class="uppercase"
                        matInput
                        [formControlName]="'billtype4'"
                        [placeholder]="'Bill Type 4'"
                        [spellcheck]="false"
                    />
                </mat-form-field>
            </div>

            <!-- Bill Type 5 -->
            <div class="mt-4">
                <mat-form-field class="w-full" [subscriptSizing]="'dynamic'">
                    <mat-label>Bill Type 5</mat-label>
                    <mat-icon
                        matPrefix
                        class="hidden icon-size-5 sm:flex"
                        [svgIcon]="'heroicons_solid:mail'"
                    ></mat-icon>
                    <input
                        class="uppercase"
                        matInput
                        [formControlName]="'billtype5'"
                        [placeholder]="'Bill Type 5'"
                        [spellcheck]="false"
                    />
                </mat-form-field>
            </div>

            <!-- Bill Type 6 -->
            <div class="mt-4">
                <mat-form-field class="w-full" [subscriptSizing]="'dynamic'">
                    <mat-label>Bill Type 6</mat-label>
                    <mat-icon
                        matPrefix
                        class="hidden icon-size-5 sm:flex"
                        [svgIcon]="'heroicons_solid:mail'"
                    ></mat-icon>
                    <input
                        class="uppercase"
                        matInput
                        [formControlName]="'billtype6'"
                        [placeholder]="'Bill Type 6'"
                        [spellcheck]="false"
                    />
                </mat-form-field>
            </div>

            <!-- Bill Type 7 -->
            <div class="mt-4">
                <mat-form-field class="w-full" [subscriptSizing]="'dynamic'">
                    <mat-label>Bill Type 7</mat-label>
                    <mat-icon
                        matPrefix
                        class="hidden icon-size-5 sm:flex"
                        [svgIcon]="'heroicons_solid:mail'"
                    ></mat-icon>
                    <input
                        class="uppercase"
                        matInput
                        [formControlName]="'billtype7'"
                        [placeholder]="'Bill Type 7'"
                        [spellcheck]="false"
                    />
                </mat-form-field>
            </div>

            <!-- Add User Id -->
            <div class="mb-4 mt-4">
                <mat-form-field class="w-full" [subscriptSizing]="'dynamic'">
                    <mat-label>Add User ID</mat-label>
                    <mat-icon
                        matPrefix
                        class="hidden icon-size-5 sm:flex"
                        [svgIcon]="'heroicons_solid:mail'"
                    ></mat-icon>
                    <input
                        class="uppercase"
                        matInput
                        [formControlName]="'adduserid'"
                        [placeholder]="'Added By'"
                        numbers
                    />
                </mat-form-field>
            </div>

            <!-- Alert -->
            @if (alert) {
                <fuse-alert
                    [appearance]="'outline'"
                    [type]="alert.type"
                    [showIcon]="false"
                    [@shake]="true"
                    class="mt-4"
                >
                    {{ alert.message }}
                </fuse-alert>
            }
        </form>
    </div>
</div>
