<div class="relative overflow-auto bg-white">
    <ag-grid-angular
        [style.height]="agGridHeight"
        [gridOptions]="defaultGridOptions"
        [ngClass]="isDark ? 'ag-theme-balham-dark' : 'ag-theme-balham'"
        (gridReady)="onGridReady($event)"
        (selectionChanged)="onSelectionChanged($event)"
        [rowData]="rowData"
        (filterModified)="changeFilter($event)"
        [icons]="icons"
        (filterChanged)="changeFilter($event)"
        (cellClicked)="onCellClicked($event)"
        (columnVisible)="onColumnVisibleChange($event)"
        [columnDefs]="modifiedColumnDefs"
    ></ag-grid-angular>

    <mat-menu #agColumnFilterMenu="matMenu" xPosition="before" yPosition="below" class="p-4">
        <!-- Checkbox for checkedField -->
        @if (visibleColumns.includes('checkedField')) {
            <div (click)="toggleAgColumn('checkedField', -1, $event)" class="flex items-center">
                <mat-checkbox [color]="'primary'" [checked]="isColumnVisible('checkedField')"></mat-checkbox>
                <span></span>
            </div>
        }
        <!-- Checkboxes for other columns -->
        @for (column of modifiedColumnDefs; track column.colId; let colIndex = $index) {
            <div (click)="toggleAgColumn(column.field, colIndex, $event)" class="flex items-center">
                <mat-checkbox [color]="'primary'" [checked]="column.hide ? false : true"></mat-checkbox>
                <span>{{ column.headerName }}</span>
            </div>
        }
    </mat-menu>

    <div class="flex items-center bg-white dark:bg-gray-900">
        <button [matMenuTriggerFor]="agColumnFilterMenu" class="ml-4 flex-none" mat-icon-button type="button">
            <mat-icon [svgIcon]="'mat_outline:filter_list'" size="24px"></mat-icon>
        </button>
        <aux-pagination
            [pageSize]="defaultPageOptions.pageSize"
            [pageSizeOptions]="defaultPageOptions.pageSizeOptions"
            (pageSizeChange)="changePage($event)"
        ></aux-pagination>
        <mat-paginator
            class="dark:bg-gray-900"
            [length]="pageLength$ | async"
            [hidePageSize]="true"
            [pageSize]="defaultPageOptions.pageSize"
            [pageIndex]="currentPage$ | async"
            (page)="navigationPage($event)"
            aria-label="Select page"
        ></mat-paginator>
        @if (isCsvExport) {
            <button class="ml-4 flex gap-2 rounded bg-black/10 p-2" (click)="exportCsv()">
                <mat-icon [svgIcon]="'mat_outline:file_download'" size="24px"></mat-icon>
                Export CSV
            </button>
        }
    </div>

    <ac-loading-overlay [show]="loading"></ac-loading-overlay>
</div>
