h1 {
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    --tw-text-opacity: 1;
    color: rgba(var(--fuse-primary-600-rgb), var(--tw-text-opacity));
    opacity: 1;
}
