// ::ng-deep app-work-order-add .mat-mdc-form-field-bottom-align::before{
//     content: none;
// }

.work-order-model {
    .model-contain {
        background-color: #f1f5f9;
        padding: 10px;
        margin: -12px;
    }
}
