<!-- Contact form -->
<div class="relative flex flex-auto flex-col items-center px-6 sm:px-9">
    <div class="w-full max-w-3xl">
        <form [formGroup]="contactForm">
            <!-- Email -->
            <div class="mt-4">
                <mat-form-field class="w-full" [subscriptSizing]="'dynamic'">
                    <mat-label>Email</mat-label>
                    <mat-icon
                        matPrefix
                        class="hidden icon-size-5 sm:flex"
                        [svgIcon]="'heroicons_solid:mail'"
                    ></mat-icon>
                    <input
                        class="uppercase"
                        matInput
                        [formControlName]="'email'"
                        [placeholder]="'Email'"
                        [spellcheck]="false"
                    />
                </mat-form-field>
            </div>

            <!-- App Name -->
            <div class="mt-4">
                <mat-form-field class="w-full" [subscriptSizing]="'dynamic'">
                    <mat-label>App Name</mat-label>
                    <mat-icon
                        matPrefix
                        class="hidden icon-size-5 sm:flex"
                        [svgIcon]="'heroicons_solid:phone'"
                    ></mat-icon>
                    <input
                        matInput
                        type="text"
                        class="uppercase"
                        [formControlName]="'appName'"
                        [placeholder]="'App Name'"
                        [matAutocomplete]="auto"
                    />
                    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onAppChange($event)">
                        @for (option of filteredOptions | async; track option) {
                            <mat-option [value]="option.name">{{ option.name }}</mat-option>
                        }
                    </mat-autocomplete>
                </mat-form-field>
            </div>

            <!-- Key -->
            <div class="mt-4">
                <mat-form-field class="w-full" [subscriptSizing]="'dynamic'">
                    <mat-label>Key</mat-label>
                    <mat-icon
                        matPrefix
                        class="hidden icon-size-5 sm:flex"
                        [svgIcon]="'heroicons_solid:phone'"
                    ></mat-icon>
                    <input class="uppercase" matInput [formControlName]="'key'" [placeholder]="'Key'" />
                </mat-form-field>
            </div>

            <!-- Value -->
            <div class="mt-4">
                <mat-form-field class="w-full" [subscriptSizing]="'dynamic'">
                    <mat-label>Value</mat-label>
                    <mat-icon
                        matPrefix
                        class="hidden icon-size-5 sm:flex"
                        [svgIcon]="'heroicons_solid:phone'"
                    ></mat-icon>
                    <input class="uppercase" matInput [formControlName]="'value'" [placeholder]="'Value'" />
                </mat-form-field>
            </div>

            <!-- Access Level -->
            <div class="mt-4">
                <mat-form-field class="w-full" [subscriptSizing]="'dynamic'">
                    <mat-label>AccesLevel</mat-label>
                    <mat-icon
                        matPrefix
                        class="hidden icon-size-5 sm:flex"
                        [svgIcon]="'heroicons_solid:mail'"
                    ></mat-icon>
                    <mat-select [formControlName]="'accessLevel'" [placeholder]="'Access Level'">
                        <mat-option [value]="0">0</mat-option>
                        <mat-option [value]="1">1</mat-option>
                        <mat-option [value]="2">2</mat-option>
                        <mat-option [value]="3">3</mat-option>
                        <mat-option [value]="4">4</mat-option>
                        <mat-option [value]="5">5</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <!-- Is Active -->
            <div class="mt-4">
                <mat-checkbox class="-ml-2" [color]="'primary'" [formControlName]="'isActive'">
                    <span>Is Active?</span>
                </mat-checkbox>
            </div>

            <!-- Alert -->
            @if (alert) {
                <fuse-alert
                    [appearance]="'outline'"
                    [type]="alert.type"
                    [showIcon]="false"
                    [@shake]="true"
                    class="mt-4"
                >
                    {{ alert.message }}
                </fuse-alert>
            }

            <!-- Actions -->
        </form>
    </div>
</div>
