<!-- Contact form -->
<div class="relative flex flex-auto flex-col items-center px-6 sm:px-9">
    <div class="w-full max-w-3xl">
        <form [formGroup]="contactForm">
            <!-- First Name -->
            <div class="mt-4">
                <mat-form-field class="w-full" [subscriptSizing]="'dynamic'">
                    <mat-label>First Name</mat-label>
                    <mat-icon
                        matPrefix
                        class="hidden icon-size-5 sm:flex"
                        [svgIcon]="'heroicons_solid:user-circle'"
                    ></mat-icon>
                    <input
                        class="uppercase"
                        matInput
                        [formControlName]="'firstName'"
                        [placeholder]="'First Name'"
                        [spellcheck]="false"
                        tabindex="1"
                    />
                </mat-form-field>
            </div>

            <!-- Last Name -->
            <div class="mt-4">
                <mat-form-field class="w-full" [subscriptSizing]="'dynamic'">
                    <mat-label>Last Name</mat-label>
                    <mat-icon
                        matPrefix
                        class="hidden icon-size-5 sm:flex"
                        [svgIcon]="'heroicons_solid:user-circle'"
                    ></mat-icon>
                    <input
                        class="uppercase"
                        matInput
                        [formControlName]="'lastName'"
                        [placeholder]="'Last Name'"
                        [spellcheck]="false"
                        tabindex="2"
                    />
                </mat-form-field>
            </div>

            <!-- NPI -->
            <div class="mt-4">
                <mat-form-field class="w-full" [subscriptSizing]="'dynamic'">
                    <mat-label>NPI</mat-label>
                    <mat-icon
                        matPrefix
                        class="hidden icon-size-5 sm:flex"
                        [svgIcon]="'heroicons_solid:printer'"
                    ></mat-icon>
                    <input
                        matInput
                        maxlength="15"
                        [formControlName]="'npi'"
                        [placeholder]="'NPI'"
                        numbers
                        tabindex="3"
                    />
                </mat-form-field>
            </div>

            <!-- Address1 -->
            <div class="mt-4">
                <mat-form-field class="w-full" [subscriptSizing]="'dynamic'">
                    <mat-label>Address 1</mat-label>
                    <mat-icon
                        matPrefix
                        class="hidden icon-size-5 sm:flex"
                        [svgIcon]="'heroicons_solid:location-marker'"
                    ></mat-icon>
                    <input
                        class="uppercase"
                        matInput
                        [formControlName]="'address1'"
                        [placeholder]="'Address 1'"
                        tabindex="4"
                    />
                </mat-form-field>
            </div>

            <!-- City -->
            <div class="mt-4">
                <mat-form-field class="w-full" [subscriptSizing]="'dynamic'">
                    <mat-label>City</mat-label>
                    <mat-icon
                        matPrefix
                        class="hidden icon-size-5 sm:flex"
                        [svgIcon]="'heroicons_solid:location-marker'"
                    ></mat-icon>
                    <input class="uppercase" matInput [formControlName]="'city'" [placeholder]="'City'" tabindex="6" />
                </mat-form-field>
            </div>

            <!-- State -->
            <div class="mt-4">
                <mat-form-field class="w-full" bindLabel="abbreviation">
                    <mat-label>State</mat-label>
                    <input matInput tabindex="7" aria-label="State" [matAutocomplete]="auto" [formControl]="state" />
                    <mat-icon matSuffix class="mr-2 flex-auto text-3xl">arrow_drop_down</mat-icon>
                    <mat-autocomplete #auto="matAutocomplete">
                        @for (state of filteredStates | async; track state) {
                            <mat-option [value]="state.abbreviation">
                                <span class="mr-1 font-bold">
                                    {{ state.abbreviation }}
                                </span>
                                <span>{{ state.name }}</span>
                            </mat-option>
                        }
                    </mat-autocomplete>
                </mat-form-field>
            </div>

            <!-- Zip -->
            <div class="">
                <mat-form-field class="w-full" [subscriptSizing]="'dynamic'">
                    <mat-label>Zip</mat-label>
                    <mat-icon
                        matPrefix
                        class="hidden icon-size-5 sm:flex"
                        [svgIcon]="'heroicons_solid:location-marker'"
                    ></mat-icon>
                    <input matInput [formControlName]="'zip'" [placeholder]="'Zip'" numbers tabindex="5" />
                </mat-form-field>
            </div>

            <!-- PECOS -->
            <div class="mb-3 mt-4">
                <mat-form-field class="w-full" [subscriptSizing]="'dynamic'">
                    <mat-label>PECOS</mat-label>
                    <mat-icon
                        matPrefix
                        class="hidden icon-size-5 sm:flex"
                        [svgIcon]="'heroicons_solid:printer'"
                    ></mat-icon>
                    <mat-select [formControlName]="'assignment'" tabindex="8">
                        @for (pecos of pecosOptions; track pecos) {
                            <mat-option [value]="pecos.value">{{ pecos.option }}</mat-option>
                        }
                    </mat-select>
                </mat-form-field>
            </div>

            <!-- Alert -->
            @if (alert) {
                <fuse-alert
                    [appearance]="'outline'"
                    [type]="alert.type"
                    [showIcon]="false"
                    [@shake]="true"
                    class="mt-4"
                >
                    {{ alert.message }}
                </fuse-alert>
            }
        </form>
    </div>
</div>
