<div class="flex flex-auto flex-col overflow-hidden">
    <div class="relative overflow-auto bg-white">
        <aux-ag-grid
            [gridOptions]="options"
            [rowData]="rowData"
            [columnDefs]="columnDefs"
            [component]="'PatientPhysicanTable'"
            [agGridHeight]="'calc(100vh - 379px)'"
            [paginatorOption]="paginationOptions"
            [visibleColumns]="visibleColumns"
            (rowSelectionChange)="selectionChange($event)"
            [loading]="loading$ | async"
        >
        </aux-ag-grid>
    </div>
</div>
